
<article nz-typography>
  <h1 class = "main-title" nz-typography>Mavzu: Internet tarmog‘i va uning tashkil etilishi</h1>
  <h3>Reja:</h3>
  <h4>1. Kompyuter tarmoqlari turlari </h4>
  <h4>2. Internet tushunchasi.Internet tarixi. </h4>
  <h4>3. Internetga ulanish.</h4>
  <p nz-typography>
    <strong>Tayanch iboralar:</strong> Kompyuter tarmoqlari, tarmoq turlari, tarmoqqa ulanish topologiyalari, global tarmoq – internet, internet brauzerlari, internet resurslari
    <br> <br>
  <p nz-typography>
  Kompyuter tarmoqlarining paydo bo'lish sabablaridan biri resurslardan hamkorlikda foydalanish, alohida kompyuter imkoniyatini kengaytirishdir. Tarmoq orqali foydalanuvchilar bir vaqtning o'zida bir xil ma'lumot va fayl nusxalari, amaliy dasturlar bilan ishlashi mumkin. Bu holat axborot tashuvchilardagi joyni tejaydi. Bundan tashqari, printer, skaner, modem, lazer disklar majmuining birgalikda ishlatilishi qo'shimcha mablag’ni asraydi.
  </p>
  <p nz-typography>
    Tarmoqdan foydalanganda axborotni saqlash ishonchliligi ortadi, chunki juda oddiy usulda qimmatli axborotlarni qayta nusxalash mumkin va alohida foydalanuvchilar o'rtasida axborot almashish yengillashtiriladi. Bugungi kunga kelib, ayniqsa bank faoliyatida, tarmoq (ko'p foydalanuvchi) dastur mahsulotlaridan keng foydalanilmoqda. Ular foydalanuvchilar so'rovini mujassamlashtiradi, bir vaqtning o'zida axborotdan foydalanish imkonini beradi.
  </p>
  <p nz-typography>Uzatish kanallari orqali o’zaro bog’langan kompyuterlar majmuiga kompyuterlar tarmog’i
    deyiladi.
    Bu tarmoq undan foydalanuvchilarni axborot almashuv vositasi va apparat, dastur xamda axborot tarmog’i resurslaridan jamoa bo’lib foydalanishni taminlaydi.
    Kompyuterlarning tarmoqqa birlashishi qimmatbaxo asbob-uskunalar - katta xajmli disk, printerlar, asosiy xotiradan birgalikda foydalanish, umumiy dasturli vositaga va ma’lumotga ega bo’lish imkonini beradi. Global tarmoqlar tufayli olisdagi kompyuterlarning apparat resurslaridan foydalanish mumkin. Bunday tarmoqlar millionlab kishilarni qamrab olib, axborot tarqatish va qabul qilish jarayonini butunlay o’zgartirib yubordi, xizmat ko’rsatishning eng keng tarkalgan tarmog’i - elektron pochta orqali axborot almashuvni amalga oshirishdir. Tarmoqning asosiy vazifasi foydalanuvchining taqsimlangan umumtarmoq resurslariga oddiy, qulay va ishonchli himoyalangan xolda axborotdan jamoa bo’lib foydalanishni tashkil etish. shuningdek, foydalanuvchilar tarmoqlari o’rtasida ma’lumotlarni uzatishning qulay va ishonchli vositasini tahminlash. Umumiy axborotlash davrida katta xajmdagi axborotlar lokal va global kompyuter tarmoqlarida saqlanadi, qayta ishlanadi va uzatiladi. Lokal tarmoqlarda foydalanuvchilar ishlashi uchun ma’lumotlarning umumiy bazasi tashkil etiladi. Global tarmoqlarda yagona ilmiy, iqtisodiy, ijtimoiy va madaniy axborot makoni shakllantiriladi.
  </p>
  <p nz-typography>
    Ma’lumotlar bazasiga uzoq masofadan turib kirishda, umumiy ma’lumotlarni markazlashtirishda, ma’lumotlarni ma’lum masofaga uzatishda va ularni taqsimlab qayta ishlash borasida ko’pgina vazifalar mavjud. Bularga bir qancha misollar keltirish mumkin: bank va boshqa moliyaviy tuzilmalar; bozorning axvolini aks ettiruvchi tijorat tizimi (“talab-taklif”); ijtimoiy tahminot tizimi; soliq xizmati; oraliq masofadan turib kompyuter tahlimi; avia chiptalarni zaxira qilib qo’yish tizimi; uzoqdan turib tibbiy tashxislash; saylov tizimi.
    ma’lumotlar bo’lishidan va ruxsat berilmagan kirishdan ximoyalangan bo’lish kerak. Ilmiy, xizmat, tahlim, ijtimoiy va madaniy xayot soxasidan global tarmoq millionlab kishilar uchun yangi xil dam olish mashg’ulotini yaratdi. Tarmoq kundalik ishni va turli soxadagi kishilarning dam olishini tashkil etish quroliga aylandi.</p>
  <p nz-typography>
    <strong>Tarmoqlarni turli me'yorlarga ko'ra sinflarga ajratish mumkin. Bular:</strong><br><br>
    •	o'tkazish qobiliyati, ya'ni ma'lumotlarni tarmoqqa uzatish tezligiga muvofiq:<br>
    •	past 100 Kbit/ s gacha;<br>
    •	o'rta 0,5-10 Mbit/s gacha;<br>
    •	yuqori 10 Mbit/s dan ortiq.<br><br>
    •	uzoq kommunikatsiya tarmoqlari bilan ishlash tezligi, ularning fizik o'lchoviga muvofiq:<br>
    •	LAN ( Local-Area Network) lokal tarmoq (bir ofis, bino ichidagi aloqa);<br>
    •	CAN (Campus-Area Network) - kampus tarmoq, (binolar orasidagi kompyuter tarmoq);<br>
    •	MAN (Metropolitan-Area Network) katta radiusga (bir necha o'n km) axborot uzatuvchi kengaytirilgan tarmoq;<br>
    •	WAN (Wide-Area Network) keng masshtabli, mintaqaviy, maxsus qurilma va dasturlar bilan ta'minlangan aloqida tarmoqlarni birlashtiruvchi yirik tarmoq;<br>
    •	GAN (Global-Agea Network) global (xalqaro, qit'alararo) tarmoq;<br>
    •	tarmoq tugunlari turi bo'yicha (tugun - qisoblash tarmoqlari va ularning aloqida elementlari ulangan joyi). Boshqacha aytganda, tugunga shaxsiy, mini- va katta kompyuterlar, aloqida tarmoq qam kiradi. Masalan, umumiy foydalanish tarmoqlaridagi aloqida kompyuterlar (boshqachasiga ularni stantsiyalar deb qam yuritishadi) tugunlarga misol bo'la oladi. Unchalik katta bo'lmagan aloqida tarmoqlar kampus tarmoqi uchun tugun bo'ladi.<br><br>
    •	Funktsional munosabatiga ko'ra:<br>
    •	bir xil darajali (peer-to-peer - odnorangovoye) tarmoqlar, uncha katta bo'lmagan, bir xil mavqega ega kompyuter tarmoqlaridir. Bu qar bir abonent tizimi bir xil ko'lamda resurslarni taqdim va qabul qilishi mumkin bo'lgan, axborot tizimining kontseptsiyasi. Bir xil darajali tarmoqda barcha kompyuterlar teng, ya'ni butun tarmoqni boshqarish uchun mas'ul kompyuter yo'q. Barcha foydalanuvchilar kompyuteridagi qaysi ma'lumotlarni hamma uchun ochiq qilinishi mustaqil hal qiladi.<br>
  </p>
  <h5>Tarmoq topologiyasi</h5>
  <p nz-typography>
    LHT tarkibiga kiruvchi hisoblash mashinalari hisoblash tarmog’i tashkil etiladigan xududda eng tasodifiy xolatda joylashishi mumkin.Aylana topologiya nisbatan kichiqrok kenglikda shug’ullanuvchi tarmoq uchun juda mos keladi. Unda markaziy uzel yo’qligi bois tarmoqning ishonchliligini oshiradi. Axborotni retranslyatsiya qilish uzatish vositasi sifatida xar qanday turdagi kabeldan foydalanish imkonini beradi. Bunday tarmoq uzellari xizmat ko’rsatish tartibining ketma-ketligi uning tezkorligini susaytiradi, uzellardan birining ishdan chiqishi aylana butunligini buzadi va axborotni uzatish traktini saqlash uchun choralar ko’rishni talab qiladi.
    Shinali topologiya - eng oddiy turlardan biri. U uzatish vositasi sifatida koaksial kabeldan foydalanish bilan bog’liq. Ma’lumotlar tarmoq uzatish uzelidan shina bo’yicha xar ikki tomonga tarqaladi. Oraliq uzellar kelayotgan axborotlarni translyatsiya qilmaydi. Axborot barcha uzellarga kelib tushadi, lekin kimga jo’natilgan bo’lsa, faqat ushagina qabul qila oladi. Xizmat ko’rsatish tartibi parallel.
  </p>
  <p nz-typography>

    Bu xol shinali topologiya bilan LhTning tezkor xarakatini tahminlaydi.  Tarmoqni kuchaytirish va konfiguratsiyalash, shuningdek turli tizimlarga moslashtirish oson. shinali topologiya tarmog’i aloxida uzellarning buzilish extimolligiga chidamli. Ushbu turdagi topologiya tarmog’i xozirgi kunda joriy etilgan. shuni tahkidlash lozimki, ularning ko’lami kichkina va bir tarmoq doirasida turli xildagi kabeldan foydalanish imkonini beradi.
    Yulduzsimon topologiya markaziy uzel kontseptsiyasiga asoslanadi. Unga sirtqi uzellar ulanadi. har bir sirtqi (periferiya) uzel markaziy uzel bilan aloxida o’z aloqa tarmog’iga ega. Barcha ma’lumotlar markaziy uzel orqali uzatiladi. Markaziy uzel tarmoqdagi axborot okimini retranslyatsiya qiladi va yo’lga soladi.
  </p>
  <p nz-typography>
    ulduzsimon topologiya LhT uzellarining bir-biri bilan o’zaro tahsirini osonlashtiradi. Ayni paytda LhTning yulduzsimon topologiya bilan ishlash qobiliyati markaziy uzelga bog’liq. Mavjud hisoblash tarmoqlarida nisbatan murakkab topologiyadan foydalanilishi mumkin.
  </p>
  <p nz-typography>
    <strong>Internet tarmoqiga bog’lanish</strong>> <br><br>
    Internetga ulanishning eng keng tarqalgan usullari quyidagilardir:<br>
    •	Modem orqali (kommutatsiya qilinadigan, Dial-up, ADSL).<br>
    •	Ajratilgan tarmoq orqali (optik tolali yoki boshqa).<br>
    •	GPRS orqali (uyali telefonlarga).<br>
    •	Radio to’lqin orqali.<br>
    •	Sun’iy yo’ldosh orqali.<br>
  </p>
  <p nz-typography>
    Modem orqali (Dial-up) bog’lanish usulida provayderning “modem pul”iga qo’ng’iroq qilinadi. Agar u yerda tarmoq band bo’lmasa login va parol so’raladigan darcha ochiladi. Login va parolni kiritilgach uni provayder serveri tekshiradi va xammasi joyida bo’lsa bo’sh IP adres  ajratadi. Shundan so’ng interntda ishlashingiz mumkin. Uning yaxshi tomoni qo’shimcha  qurilmalar talab qilinmaydi va narxi boshqa ulanishlardagiga nisbatan arzon. Ammo ma’lumot almashish tezligi juda sekin, taxminan 3-4 Kb/sek. Shuning uchun katta o’lchamli fayllarni yozib olishga ko’p vaqt ketadi. Seans paytida telefondan foydalanib bo’lmaydi.
  </p>
  <p nz-typography>
    ADSL qurilmasi orqali telefon tarmog’i yordamida provayderga ulanilsa unda ma’lumot almashish tezligi 8 Mb/sek gacha oshishi va telefondan xam bemalol foydalanish mumkin. Ammo bu xolda provayder sizning telefoningiz ulangan stantsiyangizga xam maxsus qurilma o’rnatishiga to’g’ri keladi. Bunday ulanish usulida o’z-o’zidan xarajatlar oshib ketadi. Chunki ADSL qurilmasi sotib olinishi kerak va hizmat uchun provayderga to’lanadigan to’lov miqdori yuqoridir.
    Ajratilgan tarmoq orqali bog’lanishda kompyuteringiz provayder serveri bilan, narxi ancha qimmat bo’lgan aloxida tortilgan optik tolali yoki boshqa uni almashtiruvchi kabel yordamida ulanishi kerak. Bu xolda kompyuteringizda modem bo’lishi shart emas. Sizga IP adreslar diapazoni berilib kompyuteringiz doimiy internetga ulangan xolda bo’ladi. shu kabeldan telefon tarmog’i sifatida xam foydalanishingiz mukin. Bunday ulanishda ma’lumot almashish tezligi 100Mb/sek gacha boradi. Bu xolda kompyuteringizni server sifatida ishlatib unga boshqa kompyuterlarni xam ulashingiz mumkin. Bu ulanishning narxi kabel uzunligi va qo’shimcha qurilmalarga bog’liq. Faqat setevaya karta olish kerak bo’ladi.
    WI-FI standarti.

    Wi-Fi- texnologiyasi orqali kattaroq masofa va tezlikka erishsak bo'ladi. Wi-Fi standartini keng tarqalgan 3 xil turi mavjud: IEEE 802.11a, b, g, n. Ma'lumotlarni uzatishda 2,4-2,5 GGts chastotadan foydalaninilib, 11-54 Mbit/sek tezlikka erishish mumkin. Masofa 100-400 metr.
    GPRS orqali biror uyali telefonlar kompanisi yordamida internetga kompyuterni ulash uchun USB kabelg’, infraqizil port yoki Bluetooth kerak bo’ladi. Bu usul simsiz ulanish usuli deb xam ataladi. Uning ma’lumot almashish tezligi uyali aloqa operatoriga bog’liq. Uning narxi modemli bog’lanish usulidagidan taxminan 2 baravar qimmatroq bo’lib, unda faqat uzatilgan va qabul qilingan axborot Mb lariga xaq to’lanadi.
    Radio to’lqin orqali bog’lanish simsiz ulanish turiga kirib, maxsus antennalar yordamida amalga oshiriladi. Unda foydalanuvchi kompyuteriga radiomodem va antenna o’rnatiladi. Bunda ishlatiladigan qurilmalar narxi baland. Antenna provayder antennasini ko’rib turishi kerak.
  </p>
  <br>    <br>  <br>
