<article nz-typography>
  <h1 class = "main-title" nz-typography>Axborotlarni himoyalashning texnik va dasturiy vositalari. Identifikatsiya va
    autentifikatsiya tamoyillari</h1>
  <h3>Reja:</h3>
  <h4>1. Asosiy tushunchalar. Foydalanish huquqini cheklashning usul va vositalari.</h4>
  <h4>2. Dasturlarni o‘zgartirishlardan himoyalash va butunlikning nazorati. </h4>
  <h4>3. Ma’lumotlarni uzatish tarmog‘ida axborot xavfsizligining apparat-dasturiy vositalari. </h4>
  <h4>4. Identifikatsiya va autentifikatsiya tushunchasi.</h4>


<br><br>
  <p nz-typography>
    <strong>Tayanch iboralar:</strong>  Axborotni muhofaza qilishning apparat-dasturiy vositalari,axborotni muhofaza qilishning apparat vositasi,axborotlarni muhofaza qilishning dasturiy vositalari, identifikatsiya, autentifikatsiya.
  </p>
  <p nz-typography>
    <strong>Axborotni muhofaza qilishning apparat-dasturiy vositalari </strong> – axborotni muhofaza qilish funksiyalarini (foydalanuvchilarni identifikatsiyalash va autentifikatsiya qilish, resurslardan foydalana olishni cheklash, voqealarni qayd qilish, axborotni kriptografik himoyalash va shu kabilar) bajaradigan (mustaqil yoki boshqa vositalar bilan birgalikda) turli elektron qurilmalar va maxsus dasturlardir.
  </p>
  <p nz-typography>
    <strong>Axborotni muhofaza qilishning apparat vositasi</strong> – bu, maxsus himoya qurilmasi yoki axborotni qayta ishlash texnik vositasining komplektiga kiruvchi moslama.
  </p>
  <p nz-typography>
    Axborotlarni muhofaza qilishning <strong>dasturiy vositalari</strong> axborotlar xavfsizligini ta’minlashga mo‘ljallangan va kompyuter vositalarining dasturiy ta’minoti tarkibiga kiritilgan maxsus dasturlardir.
    Kompyuter viruslaridan va boshqa dasturlar ta’siridan va o‘zgartirishlardan himoyalanish, kompyuter tizimlarida axborotlarni qayta ishlash jarayonini himoyalashning mustaqil yo‘nalishlaridan hisoblanadi. Ushbu xavfga yetarlicha baho bermaslik foydalanuvchilarning axborotlari uchun jiddiy salbiy oqibatlarni keltirib chiqarishi mumkin.
  </p>
  <p nz-typography>
    Tarmoqning xavfsizligi undagi barcha kompyuterlarning va tarmoq qurilmalarining xavfsizligi bilan aniqlanadi. Buzg‘unchi tarmoqning birorbir tashkil etuvchisining ishini buzish orqali butun tarmoqni obro‘sizlantirishi mumkin.
  </p>
  <p nz-typography>
    Hamma foydalanayotgan tarmoqdan kelib chiqayotgan tahdidlarni blokirovkalash uchun
    «tarmoqlararo ekran» (Firewall) deb nomlanuvchi dasturiy va apparat-dasturiy vositalardan foydalaniladi.
  </p>
  <p nz-typography>
    <strong>Asosiy tushunchalar.</strong> Foydalanish huquqini cheklashning usullari va vositalari
    Axborotlarni himoyalashning apparat vositalariga, kompyuterning texnik vositalariga taalluqli bo‘lgan, axborot xavfsizligini ta’minlashning ayrim funksiyalarini mustaqil ravishda yoki dasturiy vositalar bilan bir majmua tarkibida bajaradigan elektron va elektron-mexanik moslamalari kiritiladi. Bunday qurilmalarni ma’lumotlarni himoyalashning injenertexnik vositalariga emas, balki apparat vositalariga kiritishning asosiy sharti, ularni kompyuterning texnik vositalari tarkibida kiritilishi bilan belgilanadi.
  </p>
  <p nz-typography>
    <strong>Axborotlarni muhofaza qilishning asosiy apparat vositalariga quyidagilarni kiritish mumkin:</strong> <br>
    •	foydalanuvchini identifikatsiyalovchi ma’lumotlarni kiritish qurilmalari (magnit va plastik kartalar, barmoq izlari va boshqalar);<br>
    •	ma’lumotlarni shifrlovchi qurilmalar;<br>
    •	ish stansiyalari va serverlarga noqonuniy ulanib olishga xalaqit beruvchi qurilmalar (elektron qulflar va blokiratorlar).<br><br>
    Ma’lumotlarni muhofaza qilishning yordamchi apparat vositalariga quyidagilar misol bo‘la oladi:<br>
    •	 magnitli tashuvchilardagi ma’lumotlarni yo‘q qiluvchi qurilmalar;<br>
    •	kompyuter vositalaridan foydalanuvchilarining noqonuniy harakatlari bo‘yicha xabardor qiluvchi (signalizatsiya beruvchi) qurilmalar va boshqalar.
  </p>
  <p nz-typography>
    <strong>Axborotlarni muhofaza qilishning asosiy dasturiy vositalariga quyidagilarni kiritish mumkin:</strong><br>
    •	kompyuter tizimlarida foydalanuvchilarni identifikatsiyalovchi va autentifikatsiyalovchi dasturlar;<br>
    •	kompyuter tizimlari resurslaridan foydalanuvchilarning huquqlarini cheklovchi dasturlar;<br>
    •	axborotlarni shifrlovchi dasturlar;<br>
    •	axborot resurslarini (tizimli va amaliy dasturiy ta’minotni, ma’lumotlar bazalarini, ta’limning kompyuter tizimlarini va hokazo) noqonuniy o‘zgartirishlardan, foydalanishlardan va ko‘paytirishlardan himoyalovchi dasturlar.<br>
  </p>
  <p nz-typography>
    Kompyuter tizimlarida axborot xavfsizligini ta’minlashga taalluqli ma’noda identifikatsiyalash atamasi kompyuter tizimlari subyektining unikal nomini bir qiymatli tanib olishni bildiradi. Autentifikatsiyalash esa taqdim etilgan nomni ushbu subyektga mosligini tasdiqlashni anglatadi (subyektning aslligini tasdiqlash).
  </p>
  <p nz-typography>
    <strong>Axborotlarni muhofaza qilishning yordamchi dasturiy vositalariga misol qilib quyidagilarni keltirish mumkin:</strong><br>
    •	qoldiq axborotlarni (tezkor xotira blokidagi, vaqtinchalik fayllardagi va hokazo) yo‘q qiluvchi dasturlar;<br>
    •	kompyuter tizimlarining xavfsizligi tizimiga bog‘liq bo‘lgan turli voqea va hodisalarni tiklash hamda shunday voqea va hodisalar ro‘y berganini isbotlash uchun foydalaniladigan audit dasturlari (qayd qilish jurnallarini yuritish);
    •	qoidabuzar bilan ishlashni imitatsiyalovchi dasturlar (qoidabuzarni go‘yoki yopiq axborotlarni olgan deb chalg‘itish);<br>
    •	kompyuter tizimlarining himoyalanganligini sinovdan o‘tkazuvchi nazorat dasturlar va boshqalar.<br><br>
    <strong>Axborotlarni muhofaza qilishning dasturiy vositalarining afzalliklariga quyidagilar kiradi:</strong><br>
    •	ko‘paytirishning osonligi;<br>
    •	moslanuvchanlik (turli sharoitlarda qo‘llaniladigan muayyan kompyuter tizimlarini, axborot xavfsizligiga tahdidning o‘ziga xosligini hisobga olib, sozlash imkoniyati);<br>
    •	qo‘llashning qulayligi – bir xil dasturlar, masalan shifrlovchi dasturlar «shaffof» (foydalanuvchiga ko‘rinmaydigan) rejimda ishlaydi, boshqalari foydalanuvchidan hech qanday qo‘shimcha yangi (boshqa
    dasturlari bilan taqqoslaganda) ko‘nikmalar talab qilmaydi;<br>
    •	ularni axborot xavfsizligiga yangi tahdidlar hisobini yuritish uchun o‘zgartirishlar kiritish yo‘li bilan takomillashuvining amaldagi chekchegarasiz imkoniyatlari mavjudligi.<br><br>
    <strong>Axborotlarni muhofaza qilishning dasturiy vositalarining kamchiliklariga quyidagilar kiradi:</strong><br>
    •	himoyalovchi dasturlarning faoliyati kompyuter tizimlari resurslaridan foydalanish hisobiga bo‘lgani uchun bu tizimlar samaradorligining susayishi;<br>
    •	juda past unumdorlik (xuddi shunday vazifani bajarayotgan apparat vositalar bilan taqqoslaganda, masalan shifrlovchi qurilma);<br>
    •	axborotlarni himoyalovchi ko‘pgina dasturiy vositalarning kompyuter dasturiy ta’minotiga bevosita o‘rnatilmagani (quyidagi rasmlar), bu holat qoidabuzarning ushbu dasturlarni chetlab o‘tishiga prinsipial imkoniyatlar yaratadi;<br>
  </p>
  <p nz-typography>
    <strong>Himoyalanayotgan tizim</strong>   – kompyuter tizimlaridan foydalanish jarayonida axborotlarni himoyalashning dasturiy
    Axborotlarni muhofaza qilishning dasturiy vositalari
  </p>
  <h5>Axborotlarni muhofaza qilishning dasturiy vositalari</h5>
  <p nz-typography>
    <strong>Kompyuter tizimlaridan foydalanish huquqini cheklashning usul va vositalari.</strong> Axborot xavfsizligini ta’minlashning asosiy konsepsiyasini turli aloqa va xavfsizlikni ta’minlash nimtizimlari, umumiy texnik vositalar, aloqa kanallari, dasturiy ta’minot va ma’lumotlar bazalariga ega yagona tizimga integrasiyasiga asoslangan kompleks yondashuv tashkil etadi.
  </p>
  <p nz-typography>
    <strong>Kompleks xavfsizlik</strong> – vujudga kelishi mumkin bo‘lgan barcha turdagi tahdidlar (noqonuniy foydalanish, ma’lumotlarni tutib olish, terrorizm, yong‘in, tabiiy ofatlar va hokazolar)ni majburiy hisobga olib, zamon va makon (faoliyatning barcha texnologik sikllari) bo‘yicha xavfsizlikni ta’minlashning majburiy bo‘lgan uzluksiz jarayonini nazarda tutadi.
  </p>
  <p nz-typography>
    ompleks yondashuv qanday shaklda qo‘llanilishidan qat’iy nazar, u murakkab va turli yo‘nalishdagi xususiy masalalarni, ularning o‘zaro chambarchas bog‘liqlikdagi yechimi bilan hal etiladi. Bunday masalalarning eng dolzarblari bo‘lib, axborotlardan foydalanishni cheklash, axborotlarni texnik va kriptografik himoyalash, texnik vositalarning yondosh nurlanishlari darajasini kamaytirish, obyektlarning texnik mustahkamlanganligi, ularning qo‘riqlash va tahlikadan xabardor qilish (signalizatsiya) qurilmalari bilan jihozlanganligi hisoblanadi.
    Obyektning axborot xavfsizligini ta’minlash tizimining samaradorligi muhim ahamiyat kasb etadi. Kompyuter tizimlari uchun ushbu samaradorlikni, hisoblash tizimida qo‘llanilayotgan apparat-dasturiy vositalarni tanlanganligi bilan baholash mumkin. Bunday samaradorlikni baholash, xavfsizlikni ta’minlash darajasi foydalanish huquqiga bo‘lgan nazoratni kuchaytirilishiga bog‘liqlikni ko‘rsatuvchi o‘suvchi egri chiziq orqali amalga oshirilishi mumkin.
    Qurilmadan, jumladan kompyuterdan foydalana olish deganda, subyektga ushbu qurilmadan foydalanib, unga muayyan ruxsat etilgan harakatlarni bajara olish imkonini berish tushuniladi. Masalan, kompyuter foydalanuvchisiga kompyuterni ishga tushirish va o‘chirish, dasturlar bilan ishlash, ma’lumotlarni kiritish va chiqarishga ruxsat etiladi. Xizmat ko‘rsatuvchi shaxs esa o‘rnatilgan tartibda kompyuterni tekshiradi, ishdan chiqqan bloklarni almashtiradi va tiklaydi.
  </p>
  <p nz-typography>
    <strong>Parol</strong> – bu simvollar (harflar, raqamlar, maxsus belgilar) kombinatsiyasi bo‘lib, uni faqat parol egasi bilishi kerak. Ayrim hollarda xavfsizlik tizimi ma’muriga ham ma’lum bo‘ladi.
    Kompyuterning zamonaviy operatsion tizimlarida paroldan foydalanish o‘rnatilgan. Parol xeshlangan holatda kompyuterning qattiq diskida saqlanadi. Parollarni taqqoslash operatsion tizim (OT) tomonidan foydalanuvchi huquqiga mos imkoniyatlar yo’qlangunga qadar amalga oshiriladi. Lekin, kompyuterning OTdan foydalanishda kiritiladigan foydalanuvchi parolidan tashqari, Internetda ro‘yxati keltirilgan ayrim «texnologik» parollardan ham foydalanish mumkin.
  </p>
  <p nz-typography>
    Ko‘pgina kompyuter tizimlarida identifiqator sifatida, foydalanishga ruxsat etilgan subyektni identifikatsiyalovchi kod yozilgan yechib olinuvchi axborot tashuvchilardan foydalaniladi.
    Foydalanuvchilarni identifikatsiyalashda, tasodifiy identifikatsiyalash kodlarini hosil qiluvchi – elektron jetonlardan keng foydalaniladi. Jeton – bu, harflar va raqamlarning tasodifiy ketma-ketligini (so‘zni) yaratuvchi qurilma. Bu so‘z kompyuter tizimidagi xuddi shunday so‘z bilan taxminan minutiga bir marta sinxron tarzda o‘zgartirib turiladi. Natijada, faqatgina ma’lum vaqt oralig‘ida va tizimga faqatgina bir marta kirish uchun foydalanishga yaraydigan, bir martalik parol ishlab chiqariladi. Boshqa bir turdagi jeton tashqi ko‘rinishiga ko‘ra kalkulatorga o‘xshab ketadi. Autentifikatsiyalash jarayonida kompyuter tizimi foydalanuvchi monitoriga raqamli ketma- ketlikdan iborat so‘rov chiqaradi, foydalanuvchi ushbu so‘rovni jeton tugmalari orqali kiritadi. Bunda jeton o‘z indiqatorida akslanadigan javob ketma-ketligini ishlab chiqadi va foydalanuvchi ushbu ketma-ketlikni kompyuter tizimiga kiritadi. Natijada, yana bir bor bir martalik qaytarilmaydigan parol olinadi. Jetonsiz tizimga kirishning imkoni bo‘lmaydi. Jetondan foylanishdan avval unga foydalanuvchi o‘zining shaxsiy parolini kiritishi lozim.
  </p>
  <br> <br> <br> <br>

