<article nz-typography>
  <h1 style="text-align: center" nz-typography>Dreamweaver dasturi yordamida web-sahifa yaratish</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Macromedia Dreamweaver dasturida ishlashni o’rgatish, web-sahifa tayyorlash ko’nikmalarini oshirish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Macromedia Dreamweaver dasturi bilan ishlashni o’rgatish.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>Nazariy ma`lumotlar bilan yaqindan tanishish. <br> Ko`rsatilgan namunalarni o`rganib chiqish.<br>Nazariy qismda
    berilganlarni kompyuterda bajarib ko`rish.<br>Topshiriqlar variantlarida keltirilgan masalalarni bajarish . </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    Dreamweaver dasturida   matn va rasmlar kabi obyektlar uchun CSS ni tashkil qilish sahifada kodlarning ko’payib ketishini oldini oladi va ish jarayonini qulaylashtiradi.CSS bu berilgan obyektlarga qo’shimsha stillarlar berishdir. Masalan matnlar uchun shirft, rang va xokazo, rasmlar uchun esa joylashish o’rni, o’lchamlari kabilar.
  </p>
  <p nz-typography>
    Namuna
    Belgilangan joyda masalan d diskda mening ish hujjatlarim papkasida nomli dreamweaverda ish yangi papka hosil qilamiz.
    Papka ichiga CSS, matnlar, rasmlar nomli papkalarni hosil qilamiz va kerakli matn va rasmlarni papkalarda hosil qilib olamiz
    Dreamweaver dasturini ishga tushiramiz.
    Hosil bo’lgan oynadan  HTML bandini tanlab sahifa shablonini yaratib olamiz.
    Buning uchun вставка→таблица ketma-ketligini bajarib hosil bo’lgan oynaga ustun uchun 3 va satr uchun 4 raqamlarini kiritamiz va quyidagi jadval hosil qilish ishlarini olib boramiz
    Va  html sahifa nomi bilan dreamweaverda ish nomli papkamizga yangi yil nomi bilan saqlaymiz  .Quyidagi holatga keltiramiz.
    Dreamweaver  dasturi orqali hosil qilingan papkani  web sayt sifatida faollashtiramiz (bu avvalgi darslardan ma’lum)
    Sozdat bandini tanlaymiz css documentni tanlaymiz.

  </p>
  <p nz-typography>
    Macromedia Dreamweaver dasturining asosiy ob’ektlar qatorining pastki qismida joylashgan bo‘limlari yordamida amalga oshirish mumkin. Agar biz faqat kodlar yordamida shlamoqchi bo‘lsak “Code” bo‘limini tanlashimiz kerak bo‘ladi. Agar ushbu bo‘limni tanlasak ishchi maydon ko‘rinishi quyidagi ko‘rinishga keladi
  </p>
  <p nz-typography>
    Agar ham kodlar bilan ham dizayn ko‘rinishida ishlamoqchi bo‘lsak biz “Split” bo‘limini tanlashimiz kerak bo‘ladi. Biz “Split” bo‘limini tanlasak ishchi maydon ko‘rinishi quyidagi ko‘rinishni oladi.
    Agar biz faqat dizayn ko‘rinishida ishlamoqchi bo‘lsak u holda “design”  bo‘limini tanlashimiz kerak bo‘ladi. “Design” bo‘limi oynasini tanlasak ishchi maydon ko‘rinishi quyidagi ko‘rinishda bo‘ladi.
    Macromedia Dreamweaver dasturini ishchi oynasini foydalanuvchi o‘ziga qulay ko‘rinishda sozlab olishi mumkin.
  </p>
  <p nz-typography>
    <strong>Topshiriqlar variantlari (masala, misol, keyslar):</strong>
    1-topshiriq.<br>
    1.Referat titulini yarating. Dreamweawer dasturida HTML kodlaridan va stillar berishda css dan foydalaning.<br>

    2-topshiriq.<br>
    2.Bugungi ochiq dars uchun taklifnoma yarating.
  </p>
  <p nz-typography>
    <strong>Talabalik nomli sahifa tayyorlash.</strong>
    Sahifada fotosuratlar, qiziqishlar, muammolar va she’rlar nomli sahifalarga o’tish joylashtiring<br>
    Birinchi asosiy sahifa talabalik.<br>
    Qolgan sahifalar nomi bilan yarating va boyiting.<br>
    Tayyor sahifani o’qituvchiga topshiring.<br>
  </p>
  <p nz-typography>
    Amaliy  ishni o’tkazish qoidalari va xavfsizlik choralari:<br>
    Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar olinadi.<br>
    Kompyuter  xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.<br>
  </p>
  <br><br><br>
</article>