<article nz-typography>
    <h1 class="main-title" nz-typography>Mavzu: Zamonaviy kompyuterlar va ularning arxitekturasi. Xotira qurilmasi,
        axborotlarni kiritish – chiqarish qurilmalari</h1>
    <h3>Reja:</h3>
    <h4>1. Zamonaviy kompyutеrlar arxitеkturasi.</h4>
    <h4>2. Zamonaviy kompyutеrning asosiy qurilmalari va ularning vazifasi. </h4>
    <h4>3.Zamonaviy kompyuterlarning rivojlanishi. </h4>
    <p nz-typography>
        <strong>Tayanch iboralar:</strong> Birkа, nеpеr tayoqchаlаri, аbаk, arifmometr, EHM. Hisoblash texnikasi, HT
        rivojlanish davrlari, mexanik mashina, elektron hisoblash mashinalari, EHM avlodlari.
    </p>
    <p nz-typography>
        Hisoblash ishlarining tarixi odamzod paydo bo‘lishidan boshlanadi. Yer yuzidagi eng birinchi hisoblash asbobi
        ibtidoiy odamlarning barmoqlari edi.
        Qo‘l va oyoq barmoqlari ibtidoiy “hisoblash vositasi” vazifasini o‘tagan. Binobarin o‘sha qadim zamonlardayoq
        hisoblashning eng birinchi va eng oddiy usuli - barmoq hisobi paydo bo‘lgan. U qadimiy qabilalarda hisobni 20
        gacha olib borishni ta’minlagan. Hisoblashning bu usulida bir qo‘l barmoqlari “besh”ni, ikki qo‘l barmoqlari -
        “o’nni”, qo‘l va oyoq barmoqlari birgalikda “yigirmani” bildirgan.
        Dastlabki va eng sodda sun’iy hisob asboblaridan biri birkadir. Birka 10 yoki 12ta tayoqchadan iborat bo‘lib,
        tayoqchalar turli-tuman shakllar bilan o‘yilgandir. Kishilar birka yordamida podadagi mollar sonini, yig‘ib
        olingan hosil miqdorini, qarz va hokazolarni hisoblashgan. Hisoblash ishlarining murakkablashuvi esa yangi
        hisoblash asboblari va usullarini izlashni taqozo etardi. Ana shunday extiyoj tufayli bunyodga kelgan va
        ko‘rinishdan hozirgi choptni eslatuvchi abak asbobi hisoblash ishlarini birmuncha osonlashtirdi. Dastlabki hisob
        asboblaridan yana biri raqamlar yozilgan bir kancha tayoqchalardan iborat bo‘lib, shotlandiyalik matematik Jon
        Neper nomi bilan atalgan. Neper tayoqchalari yordamida qo‘shish, ayirish va ko‘paytirish amallari bajarilgan.
        Keyinroq bu asbob ancha takomillashtirildi va nihoyat logarifmik chizg‘ich yaratilishiga asos bo‘ldi.
    </p>
    <p nz-typography>
        <br>
        Hisoblash texnikasida mexanik moslamalar davrini boshlab bergan mashinalardan biri nemis olimi Vilgelm Shikkard
        tomonidan 1623 yili ixtiro qilindi. Biroq bu hisoblash mashinasi juda tor doiradagi kishilargagina ma’lum
        bo‘lganligi sababli o’zoq vaqtlargacha bu boradagi birinchi ixtirochi 1645 yili arifmometr yasagan frantso’z
        matematigi Blez Paskal deb hisoblanib kelingan. Lekin 1958 yilda Shtutgard shahri kutubxonasida I.Keplerning
        qo‘lyozma va hujjatlari orasidan topilgan hisoblash mashinasi chizmasi bu boradagi birinchi ixtirochi Shikkard
        ekanligini o’zil-kesil tasdiqladi.
    </p>
    <p nz-typography>
        Lekin qarangki, Shikkardning mashinasi ham birinchi emas ekan. 1967 yili Madriddagi milliy kutubxonada Leonardo
        da Vinchining nashr qilinmagan ikki jildli qo‘lyozmasi topildi. Qo‘lyozmaning birinchi jildi deyarli
        boshdan-oyoq mexaniqaga bag’ishlangan bo‘lib, undagi chizmalar orasida hisoblash qurilmasining chizmasi ham
        chiqqan. Shu chizma asosida mashina yaratilganda, u qo‘shish va ayirish amallarini bajaruvchi qurilma ekanligi
        ma’lum bo‘ldi. Shunga qaramay, Leonardo da Vinchi XV- XVI asrlarda yasalgan hisoblash mashinalarining noma’lum
        ixtirochilaridan biri deb hisoblanib kelinmoqda. Mexanik mashinalarining tarixi esa, yuqorida aytib
        o‘tilganidek, Paskal mashinasidan boshlanadi. Blez Paskalning otasi Eten Paskal moliya ishlariga bo‘g‘liq turli
        vazifalarda xizmat qilar edi va tabiiyki hisob-kitob uning ko‘p vaqtini olardi. Yosh Paskal otasining mehnatini
        yengillashtirishga urindi va hisoblash mashinasini yaratishga muvaffaq bo‘ldi. Sirasini aytganda Blez soat
        mexanizmini hisoblash mashinasiga aylantirdi. O‘rtadagi tafovut shunda ediki, qo‘zgalmas siferblat
        qo‘zgaluvchan, harakatlanuvchi soat milli esa, aksincha, qo‘zgolmaydigan bo‘ldi. Siferblat dastlab hisob
        diksiga, keyinroq esa hisob g‘ildiragiga aylandi. Paskalning mashinasi bo‘yi 30-40, eni 15, balandligi 10
        smgacha bo‘lgan jez qutichadan iborat edi. Asrimiz boshlarida frantso’z jurnallaridan biri “Paskalning 50dan
        ortiq mashinasi mavjud. Ularning barchasi shakli, qanday materialdan yasalgani va qay xilda ishlashiga ko‘ra
        turlicha”, - deb yozgan edi. Paskalning mashinasi nemis matematigi, mexanigi va faylasufi Gotfrid Leybnitsni
        ixtirochilikka undadi. Ammo u faqat qo‘shish va ayirishning o‘zigina emas, balki u to‘rtala
        arifmetik amalni bajara oladigan mashina yaratishni istardi. Leybnits 1673 yili shunday mashinani yaratdi va uni
        Parij akademiyasiga taqdim qildi. Bu hisoblash mashinasidagi yangilik shunda ediki, Leybnits birinchi bo‘lib,
        raqamlar teradigan g’ildirakni pog‘onali valik atrofida turli o’zunlikdagi 10ta zinasi bo‘lgan silindr bilan
        almashtirdi. U mashinalardan birini Rossiya podshosi Pyotr I ga sovg‘a qilmoqchi edi, lekin, afsuski, o‘sha
        mashinani ta’mirlash zarur bo‘lib qoldi. Leybnits uni tuzatishga berdi, biroq mexaniq qancha urinmasin,
        mashinani ta’mirlay olmadi. Leybnitsning hisoblash mashinalaridan biri hozir Gannover shahri mo’zeyida
        saqlanmoqda.
    </p>

    <p nz-typography>
        <strong>Odatda kompyuter ikki qismdan tashkil topgan </strong> <br>
        • Hardware (kompyuterni tashkil etuvchilari, ya'ni qattiq <br>
        • Software (kompyuterning dasturiy ta'minoti, ya'ni yumshoq qismlardan). <br><br>
        <strong>Kompyuterlarning amalda turli xillari mavjud.</strong> <br>
        • Raqamli (diskret) <br>
        • Anologli (uzluksiz)
    <div style="text-align: center">
        <img nz-image
             width="600px"
             height="400px"
             [nzSrc]="'assets/images/discr.jpg'"
             alt="" src=""/>
    </div><br>

    <p nz-typography>
        Maxsuslashtirilgan kompyuterlar bor. Ch.Bebbidj g’oyasida EHMni xotiralash dasturi yordamida boshqarish
        printsipini o’z ichiga olgan barcha asosiy qismlar bor edi. Uning g’oyalarining afzalligiga ancha keyin
        yetarlicha baholandi.

    <p nz-typography>
        1937 yildan boshlab hozirgi ko’ngacha bir necha milliondan ortiq EHMlar yaratilgan. Biz ularni hozirda kompyuter
        deb ataymiz. EHMlarning soni ortishi bilan bir vaqtda ularni takomillashtirish jarayoni yanada jadallashdi.
        Markaziy protsessor va operativ xotiraning elementlar bazasiga, texnik harakteristikasiga va arxitekturasining
        murakkabligiga qarab EHMlarni davrlarga va avlodlarga ajratish qabul qilingan. Tezkorlik va operativ xotira
        hajmi EHMning asosiy harakteristikalaridir.
    </p>
<div style="text-align: center">
    <img nz-image
         width="200px"
         height="200px"
         [nzSrc]="'assets/images/2new-old.jpg'"
               alt="" src=""/>
    </div>

    <p nz-typography>
        Tezkorlik bir sekundda bajariladigan mashinaviy amallarning o’rtacha soni bilan baholanadi. Hozirgi vaqtda
        hisoblash mashinalarining rivojlanishining 4 ta davri va 5ta avlodi bor. Bu to’g’risida ma'lumotlar 11-18
        slaydlarda keltirilgan. Keyingi avlodining chegaralari ham yaqqol ko’rinmoqda. Hisoblash mashinalari
        rivojlanishining birinchi davri bu mexaniq davrgacha bo’lgan mashinalar.
    </p>
    <p nz-typography>
        <strong>Birinchi avlod mashinalari.</strong> (1950 yillar boshlari) Birinchi avlod EHMlari markaziy
        protsessorining elementlar bazasi sifatida umumiy soni bir necha o’n minglarga yetgan elektron lam’alardan
        foydalanilgan. Operativ xotira ferrit o’zaklar bloklarida qurilgan. Ko’plab ishlab chiqarilgan sovet davri
        mashinalaridan birinchi avlodga mansublari Strella (1953 y.), Ural (1954y.), M-20 (1959y.), Minsk -1 (1960 y.),
        BESM seriyali qator mashinalar kiradi. Sekundiga 10000 amalni bajaradi. Xotirasiga 2047 tagacha son siqadi.
        Operativ xotira hajmi mashinaviy so’zning o’zunligi bilan ikkilik raqamlar yoki bitlar (bit-bo’lak, bo’lakcha
        ma'nosini anglatadigan inglizcha bit so’zidan olingan bo’lib, bitta ikkilik raqamidan tashkil topgan
        ma'lumotdagi informatsiya miqdori kabi aniqlanadigan informatsiya birligini anglatadi) soni bilan aniqlanadi.
        Mashinaviy so’zning standart o’zunligi 8 ta ikkilik raqamni o’z ichiga oladi bunday birlikni bayt (bite-
        bo’lakcha) deyiladi: 1 bayt- 8 bit. Sho’nga o’xshash kattaroq o’lchov birliklari ham ishlatiladi: 1- kilobayt
        (kb)q1024 bayt, 1 megabayt(mg)q1024 kb.
    </p>
    <p nz-typography>
        <strong> Ikkinchi avlod mashinalari.</strong> (1960 yillar boshlari). Ikkinchi avlod mashinalari birinchi avlod
        mashinalaridan farqli o’laroq markaziy protsessorining elimentlar bazasi sifatida tranzistorlar ishlatilgan
        operativ xotira, avvalgidek ferromagnit o’zaklaridan quriladi, ammo ularning o’lchovlari keskin kamaytirilgan
        edi. Ikkinchi avlod mashinalari o’zining parametrlari bo’yicha birinchi avlod mashinalaridan keskin ustunlikka
        ega edi. Ular bir sekundda 100000 taga yaqin amallardan iborat tezkorlikka va 3200 ta so’zdan iborat operativ
        xotira hajmiga ega edi. Tranzistorlar asosida yiqilgan. Ikkinchi avlod mashinalari qatoriga Rossiyada ishlab
        chiqarilgan Mir, Minsk-22, M-220, BESM-4, Minsk-32 va boshqalar kiradi. Birinchi avlod mashinalarida ishlaganda
        programmist programmani bevosita mashina tilida yozgan, ikkinchi avlod mashinalarining ko’pchiligida esa
        mashinalar tilida dasturlashdan algoritmik tillarda dasturlashga o’tilgan. Birinchi algoritmik tillar
        50-yillarning oxiri 60-yillarning boshida paydo bo’ldi.
    </p>
    <p nz-typography>
        <strong> Uchinchi avlod mashinalari.</strong> (1960 yillar oxiri va 70 yillar boshlari). Yarim o’tkazgichlarni
        ishlab chiqarish texnologiyasining takomillashishi integral sxemalar deb nom olgan mikroelektron qurilmalarining
        yaratilishiga olib keldi.
    </p>
    <p nz-typography>
        <strong>To’rtinchi avlod mashinalari</strong> - bu hisoblash texnikasi rivojlanishida yangi qadamdir. To’rtinchi
        avlod EHMlari katta integral sxemalarda qurilgan, ko’p protsessorli mashinalardir. Bu turdagi EHM larning
        tezligi sekundiga 10 million amaldan ortiqdir. To’rtinchi avlodga tegishli bo’lgan hisoblash mashinalaridan biri
        ko’p protsessorli hisoblash kompleksi -«ELBRUS» dir. KXK «Elbrus» zamonaviy aloqa yo’llari orqali juda ko’p EHM
        larni yagona markazga birlashtirish va ularga uzoqda joylashgan termininallarni ulash imkoniyatiga ega. Bu holda
        barcha foydalanuvchilar ixtiyoriy EHM dan foydalanish va undagi axborotlarni olish imkoniyatiga ega bo’la
        oladilar. EHM lardan foydalanishning bu usuli (ko’pchilikning bir paytda foydalanishi) hisoblash tarmoqi bo’lib,
        u o’zaro bir-biriga ulangan va malumotlarni bir-biriga tezda uzata oladigan EHM lar guruhidan iboratdir.
    </p>
    <p nz-typography>
        <strong>Beshinchi avlod mashinalari</strong> - hozirgi eng zamonaviy IBM PC tizimidagi kompyuterlar 5- avlod EHM
        hisoblanadi. EHM bu avlodi matiqiy masalalarni hal qila oladi. Rasm va chizmalarni taniydi. Matnlarni tarjima
        qila oladi. Multimediya sistemasi yordamida musiqa eshitish, tasvirlarning harakatini ko’rish mumkin. Bu avlod
        mashinalariga: IBM-386, 486, pentium I, II, III, IV rusumidagi kompyuterlar kiradi. 5-avlod juda katta integral
        sxemalar.
    </p>
    <p nz-typography>
        <strong> Hozirgi kunda kompyuterlarning quyidagi turlari – sinflari mavjud.</strong> <br><br>
        Katta kompyuterlar sinfi<br>
        Serverlar<br>
        Super kompyuterlar<br>
    </p>
    <p nz-typography>
        Kichik kompyuterlar (minikompyuterlar) – hajmi va bajaradigan amallar tezligi jihatidan katta kompyuterlardan
        kamida bir pog’ona pastdir. Hozirda ularning o’lchamlari tobora ixchamlashib, hatto shaxsiy kompyuterdek kichik
        joyni egallaydiganlari yaratilmoqda.
    </p>
    <p nz-typography>
        SHaxsiy kompyuterlar – hozirda korxonalar, muassasalar, oliy o’quv yurtlarida keng tarqalgan bo’lib, ularning
        aksariyati IBM rusumiga mos kompyuterlardir.
        IBM rusumiga mos kompyuterlar deganda, ularni turli kompaniyalar ishlab chiqarishiga qaramay, ham texnik, ham
        dasturiy ta’minoti mosligi, ya’ni bir-biriga to’g’ri kelishi nazarda tutiladi. Bunday kompyuterlar hajmi
        jixatidan kichik, amal bajarish tezligi, masalan pentium-3 MMX protsessori o’rnatilgan kompyuterlarida hozirgi
        kunda 750-1000 megagertsni, xotira hajmi esa, 64-128 megabaytni tashkil qiladi. Bugo’ngi kunda pentium-IV
        kompyuterlari ham jahon bozorida keng tarqalmoqda.

    </p>

    <br> <br>
</article>