<h1 style="text-align: center;" ><span nz-typography><mark>"Ta'limda axborot texnologiyalari" fani boyicha foydalanish qo'llanmasi</mark></span></h1>
<br>      <p nz-typography>
    <strong>Ushbu fan bo'yicha berilgan asosiy bo'limlar quyidagilardan iborat:</strong><br>
    <br><span nz-typography>
          <strong>Ma'ruzalar</strong>
        </span><br>
    <br><span nz-typography>
          <strong>Amaliy mashg'ulotlar</strong>
        </span><br>
    <br><span nz-typography>
          <strong>Laboratoriyalar</strong>
        </span><br>

</p>
<h1 nz-typography>Ma'ruzalar</h1>
<p nz-typography><strong>
Ta'limda axborot texnologiyalari fanida 12 ta ma'ruza keltirilgan:</strong><br><br><br>
    <strong>1.Ta’limda axborot texnologiyalari fanining predmeti, maqsadi va vazifalari</strong><br>
    <strong>2.Zamonaviy kompyuterlar va ularning arxitekturasi. Xotira qurilmasi,
    axborotlarni kiritish – chiqarish qurilmalari</strong><br>
    <strong>3.Operasion tizimlar, ularning turlari. Axborot jarayonlarining dasturiy ta’minoti, dasturiy ta’minot turlari. Xizmat ko’rsatuvchi dasturlar va utilitalar</strong><br>
    <strong>4.Elektron jadval muharrirlari. MS Excel dasturi</strong><br>
    <strong>5.Multimediyaning asosiy tushunchalari. Audio va video axborotlar bilan ishlash asoslari. Taqdimot muharrirlari va ularda ishlash</strong><br>
    <strong>6.Kompyuter grafikasi va ularning turlari</strong><br>
    <strong>7.Internet tarmog‘i va uning tashkil etilishi</strong><br>
    <strong>8.Web – sahifa yaratish texnologiyalari</strong><br>
    <strong>9.Dremweaver dasturining interfeysi. Dremweaver dasturining imkoniyatlari</strong><br>
    <strong>10.Axborotlarni himoyalashning texnik va dasturiy vositalari. Identifikatsiya va
    autentifikatsiya tamoyillari</strong><br>
    <strong>11.Elektron tijorat tizimlari va elektron raqamli imzo</strong><br>
    <strong>12.Virtual laboratoriyalar va ular bilan ishlash</strong><br>
</p>