<article nz-typography>
  <h1 style="text-align: center" nz-typography>Antivirus dasturiy vositalari bilan ishlash</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Antivirus dasturlari bilan tanishish va virusdan himoyalanish usullarini o‘rganish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Kompyuter virusi qanday namoyon bo‘lish usullarini aniqlash va virusdan himoyalanishning asosiy vositalari bilan
    tanishish.
    Amaliy jihozlari: Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p> 1.Virus tushunchasi<br> 2.Doctor Web (Dr. Web) bilan ishlash. </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    Kompyuter virusi maxsus yozilgan dastur bo‘lib, u boshqa dasturlarga qo‘shilishi (ya’ni uni zararlashi) mumkin, shuningdek kompyuterda noma’qul xarakatlarni amalga oshirilishi mumkin. Hozirgi kunda 450 000 dan ortiq kompyuter viruslari mavjud.
  </p>
  <p nz-typography>
    Bugungi kunda keng tarqalgan antivirus dasturlardan biri Doctor Web (Dr. Web) hisoblanadi. Quyida biz uni qanday ishlatish mumkinligini ko‘rsatamiz. Buning uchun dastur ishga tushiriladi. Dasturni ishga tushirish quyidagicha amalga oshiriladi:
    Windows ishchi maydonidan DrWeb () yorlig’i yordamida «Пуск→Программы→DrWeb» ketma – ketligi orqali.
    Dastur ishga tushgandan so’ng quyidagi oyna hosil bo’ladi.

  </p>
  <p nz-typography>
    Bu oynani dastur menyusi, tekshirish va tekshirilganlik haqida ma’lumot beruvchi bo’lim, tekshirish natijasini aks ettiruvchi oyna va tekshirish jarayoni haqida ma’lumot beruvchi qator tashkil etadi.
  </p>
  <p nz-typography>
    Masalan, C:\ diskni tekshirib ko’raylik. Buning uchun, disk belgilanadi, ya’ni tekshirish bo’limidan «Выборочно» bandi tanlanadi va hosil bo’lgan ro’yhatdan disk ustida sichqoncha bir marta bosiladi. Natijada C:\ disk belgilanadi . So’ngra  boshlash (Начатпроверку) tugmasi bosiladi. Shundan so’ng dastur ishini boshlaydi. Dastur ishini tugatgach tekshirish jarayoni haqida ma’lumot beruvchi qatorda tekshirib bo’linganlik haqida ma’lumot chiqadi. Agarda virus yo’q bo’lsa,   yozuvini ko’rishimiz mumkin.
  </p>
  <p nz-typography>
    Virusga qarshi dasturlar ishining alohida xususiyati shundaki, dastur omborini o‘z vaqtida yangilab turish kerak.
  </p>
  <p nz-typography>
    <strong>Amaliy ishlarini o’tkazish qoidalari va xavfsizlik choralari:</strong>
    <br>Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar olinadi.
    <br>Kompyuter  xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

  </p></article>
  <br><br><br>
