<article nz-typography>
  <h1 class = "main-title" nz-typography>Mavzu: Web – sahifa yaratish texnologiyalari</h1>
  <h3>Reja:</h3>
  <h4>1. Internetda axborotlarni ifodalash. Web brauzerlar.</h4>
  <h4>2. WWW ( World Wide Web). </h4>
  <h4>3. HTML da matnlarni bezash, ro’yhatlar hosil qilish.</h4>
  <h4>2. HTML da jadvallar yaratish va grafik obyektlarni joylashtirish. </h4>
  <p nz-typography>
    <strong>Tayanch iboralar:</strong>  Web brauzerlar,Web sahifa, web sayt, web portal, WWW, HTML, teg.
  </p>

    <p nz-typography>
      Axborot bugun hozirgi zamon kishisi hayotida eng muhim birlikka aylanib bormoqda. Axborot o’z bilimini boyitishga yordam beradi, dunyoqarashini kengaytiradi va madaniy farovonligini yaxshilaydi. Internetga kirish axborot xazinasiga kirishdek, foydalanuvuchilarga cheksiz bilim qatlamini ochib beradi va qiziqarli onlarga, yaxshi tadqiqotlarga ega bo’lgan foydalanuvchilar uchun juda katta keng miqyosdagi imkoniyatlar beradi.
    </p>
    <p nz-typography>
      Xalqaro aspektda internet bilimi erkin axborot almashuviga, halqaro tajriba almashuviga, alohida tijorat munosabatlarini o’tkazishga va yer sharining har xil nuqtasidagi odamlarni bir biri bilan bog’lanib turishiga shart-sharoitlar ochib beradi.
    </p>
    <p nz-typography>
      nternet bilimi faqat sahifama–sahifa ko’chib o’tish va kerakli axborotni tezda topish degani emas. Internet bilimi deganda, yuқoridagilarga qo’shimcha ravishda o’nga o’zining axborotini joylashtira bilish tushuniladi. Bunda shunday joylashtirish kerakki, oqibatda bu axborot foyda keltirsin. Internetda axborotni joylash uchun Web sahifa zarur. Unda axborotni ustun, satr bo’ylab yoki jadvalda o’rnatish mumkin va shu bilan birga chiroyli qilib bezatilgan bo’lishi kerak. Web– sahifa axborotdan foydalanuvchi xohishiga qarab joylanishi mumkin. Bunday sahifalar, talablar asosida yaratiladi va dinamik Web–sahifalar deyiladi.
    </p>
    <p nz-typography>
      Barcha ifodalangan axborotlar mazmuniga bog’liq ravishda sahifa bo’yicha alohida mavzu bo’lib tarqalishi mumkin. Lekin, foydalanuvchi ega bo’lgan axborot uchun bir sahifa oralig’i yetmay qolishi mumkin. U holda axborot o’zaro yagona mavzu bilan bog’langan, umumiy jihozlangan, bir-biri bilan gipermatnli dastaklar (ssilkalar) bilan bog’liq bir qancha Web– sahifalarga tarqatiladi. Har xil sahifalarga tarqatilgan va o’zaro dastaklar to’ri bilan bog’langan hujjat gipermatn deyiladi. Bunday sahifalarning barchasi birgalikda bus-butun informatsion birlik Web–saytni tahlil etadi. Web–saytlar internetda yagona informatsion oraliqqa birlashtiriladi. Bunda Web–sayt va Web sahifalar o’zaro har xil dastaklar bilan bog’lanadi.
    </p>
    <p nz-typography>
      Internet bilimi faqat sahifama–sahifa ko’chib o’tish va kerakli axborotni tezda topish degani emas. Internet bilimi deganda, yuқoridagilarga qo’shimcha ravishda o’nga o’zining axborotini joylashtira bilish tushuniladi. Bunda shunday joylashtirish kerakki, oqibatda bu axborot foyda keltirsin. Internetda axborotni joylash uchun Web sahifa zarur. Unda axborotni ustun, satr bo’ylab yoki jadvalda o’rnatish mumkin va shu bilan birga chiroyli qilib bezatilgan bo’lishi kerak. Web– sahifa axborotdan foydalanuvchi xohishiga qarab joylanishi mumkin. Bunday sahifalar, talablar asosida yaratiladi va dinamik Web–sahifalar deyiladi.
      Barcha ifodalangan axborotlar mazmuniga bog’liq ravishda sahifa bo’yicha alohida mavzu bo’lib tarqalishi mumkin. Lekin, foydalanuvchi ega bo’lgan axborot uchun bir sahifa oralig’i yetmay qolishi mumkin. U holda axborot o’zaro yagona mavzu bilan bog’langan, umumiy jihozlangan, bir-biri bilan gipermatnli dastaklar (ssilkalar) bilan bog’liq bir qancha Web– sahifalarga tarqatiladi. Har xil sahifalarga tarqatilgan va o’zaro dastaklar to’ri bilan bog’langan hujjat gipermatn deyiladi. Bunday sahifalarning barchasi birgalikda bus-butun informatsion birlik Web–saytni tahlil etadi. Web–saytlar internetda yagona informatsion oraliqqa birlashtiriladi. Bunda Web–sayt va Web sahifalar o’zaro har xil dastaklar bilan bog’lanadi.
    </p>
    <p nz-typography>
      Web–brauzerlar–bu dunyoning har xil burchaklaridagi Web–serverlar bilan tanishib chiqish imkonini beradigan, kompyuterga joylashtirilgan dasturiy ta’minotdir. Brauzerlar internet bo’ylab uzatiladigan matn va HTML teglarni interpretatsiya qila oladi va ularni ekranda to’g’ri aks ettiradi. Brauzerlar kompyuterlarning turidan qat’iy nazar bir xil xizmat qiladi. Ular HTMLni yaxshi tushunadi va interpretatsiya qila oladi. <B> Talaba </B> loyihasidagi Talaba so’zini ekranda alohida shrift bilan aks ettiradi.
      Hozirgi paytda eng ommabop brauzerlarga quyidagilarni kiritish mumkin: Netscape Communication ( ilgari Netscape Navigator) va Microsoft Internet Explorer.
    </p>
    <p nz-typography>
      Web–brauzerlar–bu dunyoning har xil burchaklaridagi Web–serverlar bilan tanishib chiqish imkonini beradigan, kompyuterga joylashtirilgan dasturiy ta’minotdir. Brauzerlar internet bo’ylab uzatiladigan matn va HTML teglarni interpretatsiya qila oladi va ularni ekranda to’g’ri aks ettiradi. Brauzerlar kompyuterlarning turidan qat’iy nazar bir xil xizmat qiladi. Ular HTMLni yaxshi tushunadi va interpretatsiya qila oladi. <B> Talaba </B> loyihasidagi Talaba so’zini ekranda alohida shrift bilan aks ettiradi.
    </p>
    <p nz-typography>
      <strong>World Wide Web </strong>(butun dunyo to’ri) yoki qisqacha WWW deyiladi. U haqiqatan, xuddi to’r kabi dastaklar bilan o’ralgandir. Butun dunyo cho’lg’ami Word Wide Web (WWW) yoki (W3) 1989 yili paydo bo’ldi. Uning mohiyati Shveytsariyadagi CERN (The European Laboratory for partile physios–elementar zarrachalarning Yevropa laboratoriyasi) deb nomlangan laboratoriyaning bir guruh olimlari ishlab chiqdilar. Ularning fikricha, har xil elektron hujjatlar o’zaro almashuv paytida istagan kompyuterda bir xil ko’rinishga ega bo’lishi kerak. Tabiiyki, bunday hujjatlar bilan ishlash asosi etib internet tanlangan. CERN global tarmoqdagi eng gavjum joylardan biri hisoblangan. Bu muammo bilan laboratoriya xizmatchisi fizik Tim Berners-Li shug’ullandi va 1991 yilda o’z rejasini oxiriga yetkazdi. CERN olimlari navbatdagi avlod HTML (Hyper text Markup Language) va WWW larning rivojlanishini bilib bergan WWW (w3 consortium), deb nomlangan Konsortsiumning yuzaga kelishiga sababchi bo’ldilar.
    </p>
    <p nz-typography>
      Sayt so’zining Internet terminalogiyasida tasdiqlanganligiga hali ko’p vaqt bo’lgani yo’q. Ilgari bu mahnoda WWW sahifasi, WWW uzeli yoki WWW serverlar birikmasi ishlatilar edi. Web–saytlar joylashgan axborot ahamiyatiga qarab, qo’yilgan maqsadga bog’liq ravishda o’zgarib turadigan alohida standartga ega bo’lishi ham mumkin. Global ifodalash uchun hamma kompyuterlar tushunadigan va aloqa kanallari orqali uzatishda qulay bo’lgan kichik o’lchamli universal til ishlatiladi. WWWda ishlatiladigan bunday ifodalash tili HTML hisoblanadi.
      yaratgan har xil qiymatdagi matnli hujjatlarni maxsus kompyuter tarmog’iga birlashtirish va ularni o’zaro mantiqan bog’lash. Bunda foydalanuvchi asosiy yoki qo’shimcha axborotli ixtiyoriy hujjatning bir joyidan boshqasiga o’tishi mumkin. 1965 yili Nelson T.X. bunday matnli axborotlarni tahlil etish uslubini gipermatn, o’zining amalga oshmagan loyihasini esa, Xanadu deb nomladi. Ana o’sha T. Nelsonning Xanadudagi g’oyasi WWW ning rivojiga turtki bo’ldi.
      Sayt so’zining Internet terminalogiyasida tasdiqlanganligiga hali ko’p vaqt bo’lgani yo’q. Ilgari bu mahnoda WWW sahifasi, WWW uzeli yoki WWW serverlar birikmasi ishlatilar edi. Web–saytlar joylashgan axborot ahamiyatiga qarab, qo’yilgan maqsadga bog’liq ravishda o’zgarib turadigan alohida standartga ega bo’lishi ham mumkin. Global ifodalash uchun hamma kompyuterlar tushunadigan va aloqa kanallari orqali uzatishda qulay bo’lgan kichik o’lchamli universal til ishlatiladi. WWWda ishlatiladigan bunday ifodalash tili HTML hisoblanadi.
    </p>
    <p nz-typography>
      HTML tili quyidagi maqsadlarni amalga oshiruvchi vositalarga ega: <br> <br>
      •	Sarlavhali, matnli, jadvalli, ro’yhatli, fotografiyali va sh.k. elektron hujjatlarni nashr etish.<br>
      •	Gipermatn dastakda sichqonchani chiqillatib elektron axborotni yo’qlash;<br>
      •	Uzoqdagi xizmatlar bilan aloqada bo’lish uchun, axborot qidiruv ishlarida foydalanish uchun, dasturiy mahsulotlarga buyurtma berish va sh.k. usul forma ishlab chiqish;<br>
      •	Elektron jadvallarni, videoklip, ovoz fragmentlari va boshqa ilovalarni bevosita hujjatlarga kiritish.<br>
    </p>
    <p nz-typography>
      Har bir Web–sahifa HTML tilining boshqa loyihalaridan foydalanish ishlari bilan bog’langan. Ular ixtiyoriy sahifa ko’rinishini va ular har xil dastaklar joylashuvini aniqdab beradi, (rasmlardan matnli hujjatlargacha). Shu bilan birga HTML boshqaruv loyihalari yordamida sahifa umumiy
      «sklet» i aniqlanadi va keyinchalik ular matn, rasm, dastak va sh.k. deb ataladi.
      Ang’anaviy tushuncha bo’yicha HTML butunlay dasturlash tili hisoblanmaydi. HTML– hujjatni belgilash tili. HTML–hujjatni tadqiq qilishda matnli hujjatlar teg(tag)lar bilan belgilanadi. Ular maxsus burchakli ishoralar bilan o’ralgan bo’ladi, (< va >). Teglar matnlarni formatlashda va matnga har xil nomatn elementlarni masalan, grafiklar, qo’shimcha obyektlar va shu kabilarni o’rnatishda ishlatiladi.
    </p>
    <p nz-typography>
      <strong>Web-sahifa   tushunchasi   va   shakli. </strong>  Internet   manzili   (URL)   bilan   bir   xil  mahnoda
      belgilanuvchi mantiqiy birlik. U Web-saytning tarkibiy qismidir. Web sahifa biror voqelik, xodisa yoki obyekt to’g’risida ma’lumotlarni o’zida jamlagan ma’lumotlar faylidir. Web serverlar bazasi Web saytlardan iborat bo’lsa, Web saytlar esa o’z navbatida sahifalardan iborat bo’ladi. Fizik nuqtai nazardan u HTML turidagi fayldir. Web sahifalar matn, tasvirlar, animatsiya va dastur kodlari va boshqa elementlardan iborat bo’lishi mumkin. Sahifa statik va dinamik shakllantirilgan bo’lishi mumkin. Freymlardan (qismlar) iborat sahifalarda har bir freymga alohida sahifa mos keladi.
      Web-sayt tushunchasi va shakli. Inglizcha “site” (tarjimasi joy, joylashish) so’zining o’zbekcha talaffo’zi. Umumjaxon o’rgimchak to’ri ma’lum axborotni topish mumkin bo’lgan va noyob URL manzillar bilan belgilangan virtual joy. Mazkur manzil Web-saytning bosh sahifasi manzilini ko’rsatadi. O’z navbatida, bosh sahifada Web-saytning boshqa sahifalari yoki boshqa saytlarga murojaatlari mavjud bo’ladi. Web-sayt sahifalari HTML, ASP, PHP, JSP, texnologiyalari yordamida yaratilib, matn, grafik, dastur kodi va boshqa ma’lumotlardan tahlil topgan bo’lishi mumkin. Web-saytni ochish uchun brauzer dasturidan foydalanib uning manzil maydoniga kerakli Web saytning manzili kiritiladi. Web-sayt shaxsiy, tijorat, axborot va boshqa ko’rinishlarda bo’lishi mumkin.
    </p>
    <p nz-typography>
      <strong>Web-sahifa   tushunchasi   va   shakli.</strong>   Internet   manzili   (URL)   bilan   bir   xil  mahnoda
      belgilanuvchi mantiqiy birlik. U Web-saytning tarkibiy qismidir. Web sahifa biror voqelik, xodisa yoki obyekt to’g’risida ma’lumotlarni o’zida jamlagan ma’lumotlar faylidir. Web serverlar bazasi Web saytlardan iborat bo’lsa, Web saytlar esa o’z navbatida sahifalardan iborat bo’ladi. Fizik nuqtai nazardan u HTML turidagi fayldir. Web sahifalar matn, tasvirlar, animatsiya va dastur kodlari va boshqa elementlardan iborat bo’lishi mumkin. Sahifa statik va dinamik shakllantirilgan bo’lishi mumkin. Freymlardan (qismlar) iborat sahifalarda har bir freymga alohida sahifa mos keladi.
      Web-sayt tushunchasi va shakli. Inglizcha “site” (tarjimasi joy, joylashish) so’zining o’zbekcha talaffo’zi. Umumjaxon o’rgimchak to’ri ma’lum axborotni topish mumkin bo’lgan va noyob URL manzillar bilan belgilangan virtual joy. Mazkur manzil Web-saytning bosh sahifasi manzilini ko’rsatadi. O’z navbatida, bosh sahifada Web-saytning boshqa sahifalari yoki boshqa saytlarga murojaatlari mavjud bo’ladi. Web-sayt sahifalari HTML, ASP, PHP, JSP, texnologiyalari yordamida yaratilib, matn, grafik, dastur kodi va boshqa ma’lumotlardan tahlil topgan bo’lishi mumkin. Web-saytni ochish uchun brauzer dasturidan foydalanib uning manzil maydoniga kerakli Web saytning manzili kiritiladi. Web-sayt shaxsiy, tijorat, axborot va boshqa ko’rinishlarda bo’lishi mumkin.
    </p>
  <p nz-typography>
    <strong>Web-sayt tushunchasi va shakli.</strong> Inglizcha “site” (tarjimasi joy, joylashish) so’zining o’zbekcha talaffo’zi. Umumjaxon o’rgimchak to’ri ma’lum axborotni topish mumkin bo’lgan va noyob URL manzillar bilan belgilangan virtual joy. Mazkur manzil Web-saytning bosh sahifasi manzilini ko’rsatadi. O’z navbatida, bosh sahifada Web-saytning boshqa sahifalari yoki boshqa saytlarga murojaatlari mavjud bo’ladi. Web-sayt sahifalari HTML, ASP, PHP, JSP, texnologiyalari yordamida yaratilib, matn, grafik, dastur kodi va boshqa ma’lumotlardan tahlil topgan bo’lishi mumkin. Web-saytni ochish uchun brauzer dasturidan foydalanib uning manzil maydoniga kerakli Web saytning manzili kiritiladi. Web-sayt shaxsiy, tijorat, axborot va boshqa ko’rinishlarda bo’lishi mumkin.
  </p>
  <p nz-typography>
    <strong>Web portal tushunchasi.</strong> Web portal(inglizcha “portal” – darvoza so’zidan olingan) - bu Internet foydalanuvchisiga turli interaktiv xizmatlarni (pochta, izlash, yangiliklar, forumlar va h.k) ko’rsatuvchi yirik Web-sayt. Portallar gorizontal (ko’p mavzularni qamrovchi) va vertikal (ma’lum
  </p>
    <p nz-typography>
      HTML hujjatlari–bu matnli fayllar bo’lib, ularga belgilash teglari deb nomlangan maxsus kodlar kiritilgan. Bu teglar Web-brauzerlarga matn va grafiklarni qanday qilib sharhlash va aks ettirish lozimligini ko’rsatib turadi. HTML-fayl–bu oddiy matnli fayl. Shuning uchun uni istagan matn redaktorida, masalan MS Word yoki oddiy «Bloknot»da yaratish mumkin. Hujjat yaratilgach, uni matn formatida saqlash kerak. Lekin,bu ishni bajarishda oldin uning kengayishini o’zgartirish, ya’ni TXT o’rniga HTML yoki HTMni qo’yishni esdan chiqarmaslik kerak. HTML va HTM kengayishi HTML-fayl uchun standar hisoblanadi. Bundan tashqari, bu kengayishlar kompyuterga faylda matnlardan tashqari HTML kodlari ham mavjudligini ko’rsatib turadi. HTML tili harflar razmeriga befarqdir, ya’ni bo’sh va kichik harflar bir xil qabul qilinadi. Lekin teglarni yozishda ko’pincha bo’sh harflardan foydalaniladi.
    </p>
  <p nz-typography>
    HTMLda matnlarni bezash, ro’yhatlar hosil qilish HTML da sahifa yaratishda 2 ta qismga bo’linadi.<br>
    osh qismi (HEAD ) va tana qismi (BODY). <br>
    HEAD qismida siz ishlayotgan sahifaning SARLAVHAsi, uning
    METAsi, STILlariga oid teglar saqlanadi.<br>
    BODY qismida esa asosiy ma’lumotlar, yahni siz sayt orqali ko’rsatib bermoqchi bo’lgan ma’lumotlar joylashadi.<br>
  </p>
  <p nz-typography>
    Masalan:<br><br>

    HTML<br>
    HEAD <br>
      TITLE<br>
        Sahifa sarlavhasi<br>
      /TITLE<br>
    /HEAD <br>
    BODY<br>
    Hujjat matni<br>
    /BODY<br>
    /HTML<br><br>

    Buning natijasida quyidagi oddiygina sahifa yaratiladi.

  </p>

 <br>  <br> <br>
