<article nz-typography>
    <h1 style="text-align: center" nz-typography>Mavzu: Internet tarmog’ida ma’lumotlarni izlash va saqlash. </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>O‘quv jarayoni uchun o‘rgatuvchi taqdimotlar yaratishni o`rgatish va amaliy ko`nikmalar hosil qilish</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda Setup dasturi bilan ishlash hamda kompyuterni sozlash haqida nazariy va amaliy ko’nikmalar hosil
        qilinadi</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p> <br>1.Nazariy ma`lumotlar bilan yaqindan tanishish.
        <br>2. Ko`rsatilgan namunalarni o`rganib chiqish.
        <br>3. Nazariy qismda berilganlarni kompyuterda bajarib ko`rish.
        <br>4. Topshiriqlar variantlarida keltirilgan masalalarni bajarish .
        <br>5. Natijalarni olish


    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        <br>Darchada ochilgan Web–sahifa matnini siz istagan jildda saqlash uchun quyidagi menyu yo‘lini faollashtirishingiz kifoya: Файл(File) – Сохранит’ как. . . (Save as. . . ).

        Web–sahifadagi rasmlardan birini alohida saqlab qo'yish uchun sichqoncha ko'rsatkichini kerakli rasmning ustiga olib kelib o'ng tomonini bosish natijasida paydo bo'ladigan menyu orqali saqlanadi: “Сохранит’ рисуноккак. . . ” (Save Picture As. . . ) yo‘li faollashtiriladi va rasmga nom berib «Сохранит’» tugmasini bosiladi.

        Web sahifasidagi ma’lumotdan nusxa ko‘chirish.
        1) Nusxasi ko‘chiriladigan ma’lumot belgilanadi. Butun sahifada nusxa ko‘chirish uchun «Правка» menyusidagi «Копироват’» buyrug‘i ishlatiladi.
        2) Nusxasi ko‘chirilgan matn qo‘yiladigan xujjat ochiladi va yurgich xujjatning nusxa qo‘yiladigan joyiga olib kelinadi.
        3) «Правка» menyusidagi «Вставит’» buyrug‘i yordamida Web sahifasidagi ma’lumot nusxasi xujjatning kerakli joyiga qo‘yiladi.
        Hujjatni bosmadan chiqarish
        Web–sahifadagi ma’lumotni bosmadan chiqarish uchun standart qurollar penelidagi   piktogrammasini bosish orqali, yoki menyudan «Файл»«Печат’»ketma – ketligi bajarilishi orqali amalga oshiriladi.
        Drweb dasturini Internetdan qidirib topib, saqlab olishni ko‘rib otaylik. Buning uchun Internet Explorer dasturini yo’qlaymiz va qidirish oynasiga Dr.web скачат’ deb yozib «Найти» tugmasini bosamiz
        . «Найти» tugmasi bosilgandan so‘ng Dr.web dasturi ro‘yxati akslangan oyna hosil bo‘ladi. Bu oynadan kerakli dastur ustida sichqoncha ko‘rsatkichi bir marta bosiladi.

        <br>Dastur tanlangandan so‘ng quyidagi oyna hosil bo‘ladi:

        Bu oynadan скачат’ Dr.web yozuvi tanlanadi, natijada dasturni saqlash yoki ochish oynasi hosil bo‘ladi. Bu oynadan   tugmasini bosamiz va dasturni qayerga saqlash yo‘lini korsatamiz.
        <br>Pochta orqali ma’lumot almashish.
        Rambler qidiruv sistemasi yordamida pochta orqali xat yozib jo‘natish uchun Internet Explorer dasturi va Rambler qidiruv sistemasi yo’qlanadi.    Dastur yo’qlangach oynaning «Имя» va «Парол’» degan bolimlariga elektron pochta manzili va parol kiritilib Enter tugmasi bosiladi. Natijada elektron pochta yo’qlanadi.

        Bu yerda sizga kelgan xatlar, jo‘natilgan xatlar, yozilgan xat nusxalari va o‘chirilgan xatlar joylashadi. Bu oynadan «Написат’ пис’мо» bandi tanlanadi va quyidagi oyna hosil bo‘ladi:

        Bu oynada «Кому:» bo‘limiga elektron manzil nomi, «Тема:» bo‘limiga xat mavzusi, «Текстпис’ма:» bo‘limiga xat mazmuni kiritilib, «Отправит’ пис’мо» tugmasi bosiladi. Xat muvaffaqiyatli jo‘natilsa, jo‘natilganlik haqida ma’lumot chiqadi
        Darchada ochilgan Web–sahifa matnini siz istagan jildda saqlash uchun quyidagi menyu yo‘lini faollashtirishingiz kifoya: Файл(File) – Сохранит’ как. . . (Save as. . . ).

        Web–sahifadagi rasmlardan birini alohida saqlab qo'yish uchun sichqoncha ko'rsatkichini kerakli rasmning ustiga olib kelib o'ng tomonini bosish natijasida paydo bo'ladigan menyu orqali saqlanadi: “Сохранит’ рисуноккак. . . ” (Save Picture As. . . ) yo‘li faollashtiriladi va rasmga nom berib «Сохранит’» tugmasini bosiladi.

        <br> Web sahifasidagi ma’lumotdan nusxa ko‘chirish.
        <br>1) Nusxasi ko‘chiriladigan ma’lumot belgilanadi. Butun sahifada nusxa ko‘chirish uchun «Правка» menyusidagi «Копироват’» buyrug‘i ishlatiladi.
        <br>2) Nusxasi ko‘chirilgan matn qo‘yiladigan xujjat ochiladi va yurgich xujjatning nusxa qo‘yiladigan joyiga olib kelinadi.
        <br>3) «Правка» menyusidagi «Вставит’» buyrug‘i yordamida Web sahifasidagi ma’lumot nusxasi xujjatning kerakli joyiga qo‘yiladi.
        Hujjatni bosmadan chiqarish
        <br> Web–sahifadagi ma’lumotni bosmadan chiqarish uchun standart qurollar penelidagi   piktogrammasini bosish orqali, yoki menyudan «Файл»«Печат’»ketma – ketligi bajarilishi orqali amalga oshiriladi.
        Drweb dasturini Internetdan qidirib topib, saqlab olishni ko‘rib otaylik. Buning uchun Internet Explorer dasturini yo’qlaymiz va qidirish oynasiga Dr.web скачат’ deb yozib «Найти» tugmasini bosamiz
        . «Найти» tugmasi bosilgandan so‘ng Dr.web dasturi ro‘yxati akslangan oyna hosil bo‘ladi. Bu oynadan kerakli dastur ustida sichqoncha ko‘rsatkichi bir marta bosiladi.

        <br> Dastur tanlangandan so‘ng quyidagi oyna hosil bo‘ladi:

        <br> Bu oynadan скачат’ Dr.web yozuvi tanlanadi, natijada dasturni saqlash yoki ochish oynasi hosil bo‘ladi. Bu oynadan   tugmasini bosamiz va dasturni qayerga saqlash yo‘lini korsatamiz.
        <br>Pochta orqali ma’lumot almashish.
        Rambler qidiruv sistemasi yordamida pochta orqali xat yozib jo‘natish uchun Internet Explorer dasturi va Rambler qidiruv sistemasi yo’qlanadi.    Dastur yo’qlangach oynaning «Имя» va «Парол’» degan bolimlariga elektron pochta manzili va parol kiritilib Enter tugmasi bosiladi. Natijada elektron pochta yo’qlanadi.

        Bu yerda sizga kelgan xatlar, jo‘natilgan xatlar, yozilgan xat nusxalari va o‘chirilgan xatlar joylashadi. Bu oynadan «Написат’ пис’мо» bandi tanlanadi va quyidagi oyna hosil bo‘ladi:

        Bu oynada «Кому:» bo‘limiga elektron manzil nomi, «Тема:» bo‘limiga xat mavzusi, «Текстпис’ма:» bo‘limiga xat mazmuni kiritilib, «Отправит’ пис’мо» tugmasi bosiladi. Xat muvaffaqiyatli jo‘natilsa, jo‘natilganlik haqida ma’lumot chiqadi

    <p nz-typography>
        Bu bo’limlar kompyutеr ichki qurilmalari, ya’ni ona plata, qattiq disk, mikroprotsessorlar haqida ma'lumot olish
        imkoniyatini bеradi.
        Sistemali blokda mikroprotsеssor, opеrativ xotira, qattik disk, kontrollеr, diskеtalar bilan ishlash uchun
        qurilmalar va hokazolar joylashadi.

    </p>

    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Internetga kirish dasturini ishga tushiring.
        <br>2.	Informatika faniga doir referat qidirib toping.
        <br>3.	Referat bilan tanishib chiqing.
        <br>4.	Sahifani ikki xil usulda saqlab oling:
        <br>a)	«Правка» menyusidagi «Копироват» orqali.
        <br>b)	«Файл» menyusidagi «Сохранит» orqali.



    </p>
</article>

