<article nz-typography>
    <h1 style="text-align: center" nz-typography>Mavzu: Virtual laboratoriyalar bilan ishlash. </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>Virtual laboratoriyalar bilan ishlashni o`rgatish</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda virtual laboratoriyalar bilan ishlash   haqida  nazariy va amaliy ko’nikmalar hosil qilinadi.  </p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p>
        <br>1. Nazariy ma`lumotlar bilan yaqindan tanishish.
        <br>2.	Ko`rsatilgan  namunalarni o`rganib chiqish.
        <br>3.	Nazariy qismda berilganlarni kompyuterda bajarib ko`rish.
        <br>4.	Topshiriqlar variantlarida keltirilgan masalalarni bajarish .
        <br>5.	Natijalarni olish.

    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        <br>Virtual – lotincha so’zdan olingan bo’lib, reallikning aks etiruvchi ma`nosini anglatadi. Bu so’z birinchi bor XIV asrda qo’llanila boshlagan, hozirga kelib bu so’zning turli sohalarda o’z ma`nosiga ega ekanligini ko’rishimiz mumkin. Informatika va axborot texnologiyalari yo’nalishida virtual tushunchasi keng mahnoda qo’llanilmoqda. Masalan: virtual mashina, virtual xotira, virtual disk, virtual aloqa, virtual sayohat, virtual sinf va hokazo. Virtual o’quv resurslarini xususiyatliligi shundaki, bu ta`lim tizimini kelajagini belgilab beradi. Bu –interaktivlikdir.
        <br>Virtual reallik – ushbu tushuncha kompyuter-modellashtirish va akslantirish ma`nolarida ishlatilib, biror narsani modelini yaratishda qo’llaniladi. Virtual reallik so’zi birinchi bor 1970 yilda Frantsiya teatrlarida ishlatila boshlagan. Keyinchalik informatika sohasida ham qo’llanila boshlangan. Virtual reallik (ba`zan virtual borliq ham deb ataladi) real dunyoni kompyuter simulyatsiyasi orqali yaratilgan muhitga aytiladi. Virtual reallikning asosiy 3 ta xususiyati mavjud. Ular:
        <br>-	Ta`sir doirasining kengligi;
        <br> -	yuqori vizuallashganligi;
        <br> -	uch o’lchovli muhit.
        <br> Virtual reallikning insoniyat uchun tahsiri:
        <br> -	inson hayotini tashkil qilishda va tartibga solishda;
        <br>-	insonlar o’rtasidagi aloqaning yangi shakli;
        <br>-	hayotning asosiy sohalari ta`lim, siyosat, iqtisod, sanhat va turizm sohalariga ijobiy ta`siri borligi;
        <br>-	virtual olam bilan inson o’zining tartib qoidalari va o’z muhitini yaratish mumkinligi;
        <br> -	hayot va virtual borliq o’rtasidagi aldanish mavjudligi.
        Crocodile ICT dasturi  Yevropa mamlakatlarida informatika fanini o`qitishda juda yaxshi samara bermoqda. Bu dastur yordamida informatikada dasturlash jarayonini, aniqroq qilib aytganda, algoritmlash bo`limini o`quvchiga aniqroq etkazib berish mumkin.


        <br>-	Obyektga yo`naltirilgan dasturlash tillarini o`qitishda juda qo`l keladigan Crocodile ICT ning oddiy interfeysi va blok shemalari yordamida yaratilayotgan dastur orqali har bir buyruqni animatsiya ko`rinishida tasvirlash mumkin.
        <br>-	 Bundan tashqari, blok shemalarda biror-bir shart bajarilganda odam personajlariga 30 dan ortiq harakat turlarini bajartirish mumkin. Dasturning bunday imkoniyati o`quvchining (talabaning) darsdan zerikishining, e`tibori pasayishining oldini oladi. Bu esa ma`lum ma`noda ta`lim samaradorligiga o`zining ijobiy ta`sirini ko`rsatadi.
        <br> -	Crocodile Chemistry dasturi orqali Mendeleev jadvalida mavjud barcha elementlarning kimyoviy va fizikaviy xususiyatlarini o’rganish mumkin. Odatda, kimyoviy reakstiyalar ro’y berish vaqtida reakstiyada qatnashayotgan molekulalarning boshqa molekulaga aylanish jarayonini (molekulyar darajada) kuzatishning iloji yo’q.
        <br> -	Lekin, bu dastur orqali kimyoviy moddani boshqa moddalar bilan reakstiyaga kirishish jarayonida molekulalarning dinamikasini kuzatish mumkin bo’ladi.
        <br>
        <br>    -	Bu dasturdan o’rta-maxsus va oliy o’quv yurtlarida kimyo fanini o’qitishda keng foydalanish mumkin.
        <br>Dastur orqali ixtiyoriy shakldagi idishlardan foydalanib, turli reaktivlarni o’zaro aralashtirib kimyoviy reakstiyani kuzatish mumkin. Kimyoviy reakstiya vaqtida reaktivlarning rangi, moddalar ulushini, kimyoviy reakstiya formulalarini maxsus oynada ko’rish imkoniyati dasturdan kuchli pedagogik qurol sifatida foydalanish imkoniyatini beradi. Crocodile Chemistry dasturining bunday imkoniyatlari kimyo fanini o’qitishda inqilobiy o’zgarishga sabab bo’ldi.<br>
        Dastur yordamida olingan bilimlar doirasi ancha keng bo`lib, talabalarni kimyoviy jarayonlar bilan  ishlash tasavvurlarini sezilarli darajada oshiradi.

    </p>


    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography><strong>
        Topshiriqlar variantlari (masala, misol, keyslar): </strong><br>
        <br>1.	Crocodile ICT dasturi bilan tanishing
        <br> 2.	Crocodile Chemistry dasturi bilan tarnishing.
        <br> 3.	 Ushbu dasturlarda virtual laboratoriya ishlarini o`tkazing.



    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Virtual so’zining ma`nosi nimadan  iborat?
        <br>2.	Virtual reallik nima?
        <br>3.	Virtual reallikning insoniyat uchun ta`sirini ayting
        <br>4.	Virtual borliq nima
        <br>5.	Vitual borlikning asosiy 3 ta xususiyatini sanab bering.
        <br>6.	Crocodile ICT dasturi hakida.
        <br>7.	Crocodile Chemistry dasturi hakida



    </p>
</article>
