<article nz-typography>
  <h1 class = "main-title" nz-typography>4- Mavzu: Elektron jadval muharrirlari. MS Excel dasturi</h1>
  <h3>Reja:</h3>
  <h4>1. MS Excel 2010 darchasining tuzilishi</h4>
  <h4>2. Excel dasturini yuklash va undan chiqish. </h4>
  <h4>3. Excel dasturi lentasi </h4>
  <h4>4. Excel da iqtisodiy masalalarni yechilishi </h4>
  <h4>5. Excelda diagramma va grafiklar. </h4>


    <p nz-typography>
      <strong>Tayanch iboralar:</strong> Jadval muharrir, katak, aktiv katak, satr, ustun, kataklar (satr, ustun)ni belgilash formula, standart funktsiya, Master funktsiy, Risovanie paneli, rasm chizish, rasmni sahifaga joylashtirish
    </p>

    <p nz-typography>
      <strong>Excel Microsoft Office </strong>paketi tarkibidagi dastur bo’lib, u Windows operatsion tizimi boshqaruvida ma’lumotli elektron jadvallar(EJ)ni tayyorlash va qayta ishlashga mo’ljallangan.
      Windows operatsion tizimi yaratilmasdan avval DOS tarkibida SuPerCalc, quatPrio va  shunga o’xshash EJli dasturlardan foydalanilgan. Windows muhiti yaratilgandan keyin, ayniqsa Windows operatsion tizimi yaratilgandan keyin ko’pgina foydalanuvchilar Officening EJli dasturi Microsoft Excel dasturidan foydalanish imkoniyatiga ega bo’ldilar.
    </p>
  <div style="text-align: center">
    <img nz-image
         width="600px"
         height="300px"
         [nzSrc]="'assets/images/excel.webp'"
         alt="" src=""/>
  </div>
    <p nz-typography>
      Excel 2010da tayyorlangan xar bir xujjat (ma’lumotli jadval) Windowsda qabul qilingan ixtiyoriy nom va .xlsx kengaytmadan iborat fayl bo’ladi. Excelda odatda bunday fayl “Ish kitobi” (Kniga) deb yuritiladi. Microsoft Excelning asosiy ish soxasi bu – Ish kitobi bo’lib, u 255 tagacha varaqlardan (list) dan iborat bo’lishi mumkin. Ularni ish varaqlari deb ataladi. Ish varag’ida buxgalter (hisobchi) kitobi kabi, sonlar, matnlar, arifmetik ifodalar, hisoblar qator va ustunlarda joylashgan bo’ladi. Xar bir ish varag’i List1, List2, ... nomlar bilan atalgan bo’lib, ular jadvalning pastki qismidagi yorliqchalarda ifodalangan. Foydalanuvchi bu nomlarni xoxlaganicha o’zgartirishi mumkin. Buning uchun shu nomlar yozilgan yorliqlarni sichqoncha yordamida tezda ikki marta tanlash kerak. Shundan so’ng yangi nomni terish mumkin. Buning boshqa yo’li Format tavsiyanomasining List bo’limidagi Pereimenovat buyrug’idan foydalanish mumkin. Bir ish varag’idan boshqasiga o’tish uchun mos yorliqni sichqoncha yordamida tanlash kifoya.
    </p>
    <p nz-typography>
      Excel EJ varaqlari, butun sonlar bilan tartiblangan 1 048 576 ta qator va lotin alifbosining bosh xarflari A, B, ...,Z, AAA, AAB,...,XFD bilan nomlangan 16384 ta ustundan iborat. Qator va ustun kesishmasida EJning tarkibiy elementi – katak (yacheyka) joylashgan. Kataklarning nomlari yoki boshqcha aytganda manzillari qator va ustunlarning nomlaridan kelib chiqadi. Masalan A ustun bilan 7 qatorning kesishmasi A7 katagi deyilsa, D ustun bilan 12 qatorning kesishgan joyi D12 katagi deyiladi. Shuni yodda saqlash kerakki, EJ kataklarining manzillariga murojaat qilinadigan bo’lsa, ustun nomlari albatta lotin alifbosida kiritilishi kerak. Bunda katta va kichik xarflar farqlanmaydi. Excel EJining boshqa dasturlardan asosiy farqli tomoni, unda formulalar satri deb atalgan satrning mavjuddir. Bu satr uch qismdan iborat bo’lib, birinchisi shu satrning chap tomonidagi kichkina qismi ismlar maydoni, o’ng tomonidagi katta qismi formulalar maydoni va o’rtdagi qismi esa formulalar ustasini ishga tushiruvchi fx belgi tasvirili tugmadan tashkil topgan.
    </p>

    <p nz-typography>
      Ismlar maydonida jadval ko’rsatkichi joylashgan katakning manzili yoki nomi ifodalanadi. Bu yerda manzil deganda shu katakning ustun va satr nomlari orqali ifodalanishi tushiniladi. Nom deganda foydalanuvchi tomonidan biror katak yoki kataklar guruxiga, manzilni ifodalamaydigan ixtiyoriy ism qo’yilishiga aytiladi. Ayrim masalalarni xal qilishda katak yoki kataklar guruxining manzili bilan ishlash noqulay bo’lib qoladi va shuning uchun ularni tushunarli bo’lishini tahminlash maqsadida ismlar orqali ifodalaydilar. Manzil o’rniga nom qo’yish uchun biror katak yoki kataklar guruxi ajrtilgach, ismlar maydonidagi manzil sichqoncha yordamida tanlanadi va Exceldagi manzillardan farqli ism teriladi, so’ngra Enter klavishasi bosiladi.
    </p>


    <p nz-typography>
      Excelni ishga tushirganda odatda ish saxifasining A1 katagida jadval ko’rsatkichi (tablichniy kursor) deb atalgan qalinroq ramkaga olingan to’rtburchak shaklidagi element paydo bo’ladi. Uning vazifasi ma’lumot kiritiladigan va taxrirlanadigan joriy katakni ajratib turishdan iborat. Bu ko’rsatkichdan foydalangan xolda quyidagi amallarni bajarish mumkin: <br> <br>
      •	ramkasidan sichqoncha yordamida sudrab katakdagi ma’lumotni boshqa katakka ko’chirish;<br>
      •	Ctrl klavishasini bosgan xolda ramkasidan sichqoncha yordamida sudrab katakdagi ma’lumotni nusxasini boshqa katakka o’tkazish;<br>
      •	ramka ichidagi sohadan sichqoncha yordamida sudrab kataklardagi ma’lumotlarni ajralgan gurux xoliga keltirish;<br>
      •	ramkaning pastki o’ng burchagidagi nuqtasidan sichqoncha yordamida sudrab, undagi ma’lumotdan yoki formuladan gorizontal yoki vertikal yo’nalish bo’yicha nusxa olish;<br>
      •	agar katakka son yozilgan bo’lsa, Ctrl klavishasini bosgan xolda ramkaning pastki o’ng burchagidagi nuqtasidan sichqoncha yordamida gorizontal yoki vertikal yo’nalish bo’yicha sudralsa, u xolda shu sonni bir qadam bilan o’zgarishi ketma-ketligini (arifmetik progressiya) hosil qilish. <br>
    </p>
    <p nz-typography>
      Jadval bo’ylab jadval ko’rsatkichini xarakatlantirish usullari, taxrirlash va hisoblash natijalarini xosil qilish amallari bilan tanishib olamiz. <br><br>
      •	Jadval ko’rsatkichini qo’shni xonalarga o’tkazish uchun klaviaturadagi kerakli tarafga yo’nalishni ko’rsatuvchi tugmachalardan biri bosiladi yoki sichqoncha orqali shu katak tanlanadi.<br>
      •	Ostidagi katakka o’tkazish yoki hisoblash natijasini xosil qilish uchun Enter klavishasi bosiladi.<br>
      •	Jadvalning ixtiyoriy chegarasiga tezda o’tish uchun Ctrl tugmachasini bosgan xolda klaviaturadan kerakli tarafga yo’nalishni ko’rsatuvchi tugmacha bosiladi. Bunda agar jadval ko’rsatkichi turgan satr yoki ustundagi o’tilishi kerak bo’lgan yo’nalishda ma’lumotlar bo’lsa ko’rsatkich avval shu elementni ko’rsatadi.<br>
      •	Jadval ko’rsatkichi turgan ma’lumotni sichqoncha bilan tezda ikki marta tanlash orqali uni taxrirlash rejimiga o’tiladi.<br>
      •	Jadvalning ixtiyoriy katagiga tezda o’tish uchun formulalar satrining ismlar maydonida shu katakning manzili teriladi va Enter klavishasi bosiladi.<br>
      •	Jadvalning ixtiyoriy katagidan A1 katagiga tezda o’tish uchun Ctrl + home klavishalar kombinatsiyasi bosiladi.<br>
    </p>
    <h3>Excel dasturini yuklash va undan chiqish</h3>
    <p nz-typography>
      Excel dasturini yuklashning bir necha usullari bor; <br><br>
      •	Windows ishchi stolida MS Excel nomli yorliq bo’lsa, shu yorliqni ishga tushurish bilan Excelni yuklash mumkin. Ya’ni shu yorliqqa sichqoncha ko’rsatgichi keltirilib tezlikda ikki marta sichqonchaning chap tamondagi tugmasi bosiladi;<br>
      •	Ishchi stoldagi MS Excel yorlig’iga ko’rsatgich keltirilib yorliqning kontekstli tavsiyanomasi ochiladi va Otkrit bo’limi tanlanadi;<br>
      •	Agar foydalanuvchi masalalar qatoriga Excelni tugib (svernut) qo’ygan bo’lsa, shu belgini sichqoncha orqali tanlash bilan elektron jadvalni faollashtirishi mumkin;<br>
      •	“Pusk” tugmasini bosib Windowsning bosh tavsiyanomasi chaqiriladi, u yerdan “Vse programmi” nomli ichki tavsiyanomasiga kiriladi, so’ng navbatdagi Microsoft Office nomli ichki tavsiyanomadan MS Excelni yuklash mumkin;<br>
      •	“Pusk” tugmasini bosib Windowsning bosh tavsiyanomasi chaqiriladi, u yerdan “Dokumenti” nomli ichki tavsiyanomasiga kiriladi, so’ngra Excelda yozilgan fayllardan birini tanlasak, shu fayl bilan birgalikda Excel EJ ochiladi.<br>
    </p>
         <h3>Excel dasturi lentasi</h3>
    <p nz-typography>
      Excel dasturida ishlatiladigan barcha buyruqlar Excel darchasining yuqori qismidagi sarlavha satri ostida lenta deb nomlangan ob’yektida joylashgan bo’lib, ular bajarilayotgan amalga mos ravishda avtomatik ravishda paydo bo’ladi. Lentadagi buyruqlar o’z navbatida Glavnaya, Vstavka, Razmetka stranitsi, Formuli, Danniye, Retsenzirovaniye va Vid deb nomlangan vkladkalarga vazifalariga ko’ra ajratib joylashtirilgan. Xar bir vkladkalarda esa bu buyruqlar avvalgi Excel 2003 gacha bo’lgani kabi uskunalar panellari yana bir nechta guruhlarga bo’lib xira chiziqlar yordamida ajratib qo’yilgan.
    </p>












