<article nz-typography>
    <h1 style="text-align: center" nz-typography>Mavzu: Corel Draw dasturida hajmga ega tasvirlar yaratish. Matnlar bilan ishlash.  </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>Corel Draw dasturida hajmga ega tasvirlar yaratish . Matnlar bilan ishlashni o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda Corel Draw dasturida hajmga ega tasvirlar yaratish, matnlar bilan ishlash haqida  nazariy va amaliy ko’nikmalar hosil qilinadi.</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p>
        <br>1. Nazariy ma`lumotlar bilan yaqindan tanishish.
        <br>2.	Ko`rsatilgan  namunalarni o`rganib chiqish.
        <br>3.	Nazariy qismda berilganlarni kompyuterda bajarib ko`rish.
        <br>4.	Topshiriqlar variantlarida keltirilgan masalalarni bajarish .
        <br>5.	Natijalarni olish.

    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        CorelDraw vektorli grafik muharririda tasvir ixtiyoriy shakldagi konturlardan iborat bo’ladi. CorelDraw Grafics Suite 12 dasturiy paketi o’rnatilgach, WINDOWS OTning ishga tushirish menyusida uning piktogrammasi namoyon bo’ladi. Dastur quyidagicha ishga tushiriladi:
        <br> 	Pusk	Vse programmi	CorelDraw Grafics Suite 12	CorelDraw 12;
        <br>	Ishchi stoldan   yorlig’ini tanlab “ sichqoncha” yoki Entertugmasi tanlanadi.
        Bu oynadan biz o’zimizning maqsadimizga ko’ra holatni tanlaymiz:
        <br> Noviy- «PO umolchaniyu» holati belgilangan parametrlar bo’yicha bo’sh hujjat yaratiladi;
        <br> Posledniy-avvalgi foydalanishda ishlatilgan hujjatlar ochiladi;
        <br> Otkrit-muloқot oynasi ochilib undan tahrirlanuvchi fayl tanlanadi; Noviy po shablonu-master oynasi ochilib, tayyor қoliplar tavsiya etiladi; Corel Tutor-kichik hajmdagi o’rgatuvchi dastur yo’qlanadi;
        <br> Chto novogo- CorelDraw dasturining yangi versiyasi yangiliklari bilan tanishtiriladi.
    </p>
    <p nz-typography>
        <strong>Asosiy menyu </strong> – sarlavhalar qatoridan keyin joylashgan bo’lib, unda joylashgan menyular Windows operatsion tizimining barcha ilovarida uchraydigan menyular kabi bo’lib, CorelDrawda ishlashda bir qator qulayliklar yaratadi.

    </p>
    <p nz-typography>
        Har qanday dastur kabi CorelDraw dasturi o’zining menyulariga ega bo’lib, asosiysi «Fayl» menyusi hisoblanadi. Uning ko’rinishi quyidagicha:

    </p>
    <h5>Boshqarish paneli.</h5>
    <p nz-typography>
        Boshqarish paneli dasturning ajralmas qismi bo’lib, foydalanuvchi o’zining xohishiga ko’ra undagi panellar sonini kamaytirishi yoki oshirishi mumkin. Unda joylashgan tugmalar hujjatlarni yaratish, ochish, saqlash, import, eksport, chop etish, almashish buferi bilan ishlash, noto’g’ri bajarilgan amallardan voz kechish, masshtabni o’zgartirish va boshqa bir qator imkoniyatlarni beradi.
    </p>
    <h5>Xossalar paneli</h5>
    <p nz-typography>
        Dasturdagi ochiluvchi panel yahni xossalar paneli foydalanuvchiga dastur bilan ishlash mobaynida qator qulayliklar yaratadi. Panel buyruqlari tanlangan uskunaga bog’liq ravishda namoyon bo’ladi.
    </p>
    <h5>Hujjatlarni ochish va hujjat oynasini boshqarish.</h5>
    <p nz-typography>
        Hujjatlar «Fayl» menyusidagi «Otkrit» bandi orqali ochilishi mumkin va ochilgan dialog oynasidan biz o’zimizga kerakli fayllarni tanlay olamiz. CorelDraw bir vaqtning o’zida bir necha

        hujjat bilan ishlash imkoniyatini beradi. Har bir hujjatga alohida oyna ajratiladi. Hujjat oynasi asosiy oyna chegarasidan tashqariga chiqa olmaydi va u ishchi sahifa (sahifa ramkasi bilan chegaralangan), hamda ish stolidan iborat.
        Illyustratsiya ishchi sahifaning chegarasida joylashishi shart va uning bu chegaradan tashqi sohada joylashgan qismi chop etilmaydi. Ish stoli illyustratsiyaning ma’lum qismlarini vaqtincha saqlash va hujjatning sahifalariga bu qismlarni o’tkazish uchun vaqtincha joylashtirish uchun xizmat qiladi. Ish stolining hajmi judda katta bo’lib, undan bemalol foydalanishimiz mumkin.
    </p>
    <h5>Tasvir masshtabi.</h5>
    <p nz-typography>
        Tasvirni tahrirlash jarayonida uning masshtabini hujjat oynasida ko’p marotaba o’zgartirish zarurati tug’iladi . CorelDraw masshtabni 1 dan 405651 % gacha o’zgartirish imkoniyatiga ega va unda masshtabni o’zgartirishning turli usullari mavjud:
        Hujjat ochiladi va insturmentlar panelidan masshtablashtirish instrumenti tanlanib, kattalashtirish darajasi har xil foizlar tanlanib, illyustratsiya tahrir uchun tayyorlanadi.


        Masshtabning katta qiymatida tasvir to’laligicha ekranga siғmaydi, faqat uning bir qismi ko’rinadi. Uning kerakli qismi gorizontal yoki vertikal yuritgich yordamida topiladi. Masshtabdan foydalanishda shuni qayd qilish lozim-ki Zoom (masshtab) instrumenti yordamida hujjat o’lchamlarini o’zgartirish uning asl nusxasidagi o’lchamlarini o’zgartirmaydi.
    </p>

    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Peretekaniya amalidan  qanday foydalanish mumkin?.
        <br>2.	Matnlar bilan ishlash qanday amalga oshiriladi?.
        <br>3.	Tasvirlar yaratish haqida ma’lumot bering.
        <br>4.	Text asbobi haqida gapiring
        <br>5.	Corel Draw dasturida qo’shimcha imkoniyatlarini ayting
        <br>6.	Dastur holat qatori haqida ayting


    </p>
</article>