<article nz-typography>
    <h1 class="main-title" nz-typography>Mavzu: O‘quv jarayoni uchun o‘rgatuvchi taqdimotlar yaratish. </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>O‘quv jarayoni uchun o‘rgatuvchi taqdimotlar yaratishni o`rgatish va amaliy ko`nikmalar hosil qilish</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda Setup dasturi bilan ishlash hamda kompyuterni sozlash haqida nazariy va amaliy ko’nikmalar hosil
        qilinadi</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p><br>1. Microsoft Power Pointdasturi haqida ma’lumot.
        <br>2. «Слайд» (slayd) va «Презентация» (taqdimot) tushunchalari.
        <br>3. «Создание презентации» (taqdimot yaratish) orqali taqdimotdan foydalanish.
        <br>4. «Новая презентация» (yangi bo‘sh taqdimot) yoki «Пустую презентацию» (bo‘sh taqdimot) orqali taqdimot
        yaratish.
        <br>5. «Шаблон оформления» (rasmiylashtirish qolipi) orqali taqdimot yaratish.
        <br>6. «Мастер автосодержания» (avtomundarija ustasi) orqali taqdimot yaratish.

    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        <br>1.Microsoft Power Pointdasturiga kirish ketma-ketligi.
        [Пуск][Программы][Microsoft Power Point]

        <br>2. «Слайд» (salyd) va «Презентация» (taqdimot) tushunchalari.
        «Слайд» (salyd) – ma’lum bi ro‘lchamga ega bo‘lgan muloqot varaqlari hisoblanadi. Unda biror maqsad bilan
        yaratilayotgan namoyish elеmеntlari joylanadi, ya’ni «Презентация» (taqdimot)ni alohida kadri bo‘lib, matnni,
        sarlavhalarni, grafik va diagrammalarni o‘zichiga oladi.
        «Презентация» (taqdimot) – bu slaydlar va maxsus effektlar to‘plami bo‘lib, ularni ekranda ko‘rsatish, namoyish
        etish uchun tarqatiladigan material, ma’ruza matni shaklida bitta faylda saqlanadi.
        <br>3. «Создание презентации» (taqdimot yaratish) orqali taqdimotdan foyda-lanish.
        Bu muloqot darchasi orqali taqdimot yaratish turini tanlab olish mumkin bo‘ladi. U quyidagi 4 ta asosiy
        bo‘limdan iborat: «Новая презентация» (yangi bo‘sh taqdimot) yoki «Пустую презентацию» (bo‘sh taqdimot), «Шаблон
        оформления» (rasmiylashtirish qolipi), «Мастеравтосодержания» (avtomundarija ustasi), «Открыт
        презентацию»(taqdimotlarni ochish).

        <br>4. «Новая презентация» (yangi bo‘sh taqdimot) yoki «Пустую презентацию» (bo‘sh taqdimot) orqali taqdimot
        yaratish.
        «Новая презентация» (yangi taqdimot) yoki «Пустую презентацию» (bo‘sh taqdimot) — bubo‘shtaqdimot orqali
        mustaqil ravishda yangi taqdimot yaratish imkonini bеradi.


        <br>5. «Шаблон оформления» (rasmiylashtirish qolipi) orqali taqdimot yaratish.
        «Шаблон оформления» (rasmiylashtirish qolipi) — bu taqdimotni ma’lum bir qolip asosida, tashqi ko‘rinishini
        (rangli jihozlanishini) tanlash orqali, ularda ish olib boorish, taqdimot yaratish imkonini bеradi.

        <br>6. «Мастеравтосодержания» (avtomundarija ustasi) orqali taqdimot yaratish.
        «Мастер автосодержания» (avtomundarija ustasi) — bu ma’ruzachi ismi, familiyasi, mavzu nomi, taqdimot turi,
        uslubi, rangli chizmasini tanlab, bir nеcha slayd¬dan iborat bo‘lgan tayyor taqdimotni chiqaradi.

    </p>
    <p nz-typography>
        Bu bo’limlar kompyutеr ichki qurilmalari, ya’ni ona plata, qattiq disk, mikroprotsessorlar haqida ma'lumot olish
        imkoniyatini bеradi.
        Sistemali blokda mikroprotsеssor, opеrativ xotira, qattik disk, kontrollеr, diskеtalar bilan ishlash uchun
        qurilmalar va hokazolar joylashadi.

    </p>

    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Slayd nima?
        <br>2.	«Слайды» rejimida ekranda nimalar akslantiriladi?
        <br>3.	Yangi slayd qo‘yish qanday amalga oshiriladi?
        <br>4.	Slaydga qanday animatsiya beriladi?
        <br>5.	Prezentatsiya nima?


    </p>
</article>