<article nz-typography>
    <h1 class="main-title" nz-typography>Mavzu: Setup dasturi yordamida kompyuterlarni sozlash. </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>Setup dasturi yordamida kompyuterlarni sozlashni o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Talabalarda Setup dasturi bilan ishlash hamda kompyuterni sozlash haqida nazariy va amaliy ko’nikmalar hosil
        qilinadi</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p>BIOS Setup dasturini ishga tushirish <br> Standart CMOS Features<br>Advansed BIOS Features. <br>Advansed Chipset
        Features
        <br> Integrated Peripherals
        <br> Power Management Setup
        <br> PnP/PCI Configurations
        <br> PC Health Status
        <br> Set User Passvord
        <br> Save and Exit
    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        BIOS Setup dasturi quyidagi bo’limlardan tashkil topadi:<br>
        <br> 1. Standart CMOS Features
        <br>2. Advansed BIOS Features
        <br>3. Advansed Chipset Features
        <br>4. Integrated Peripherals
        <br>5. Power Management Setup
        <br>6. PnP/PCI Configurations
        <br>7. PC Health Status
        <br>8. Set User Passvord
        <br>9. Save and Exit.
    </p>
    <p nz-typography>
        Bu bo’limlar kompyutеr ichki qurilmalari, ya’ni ona plata, qattiq disk, mikroprotsessorlar haqida ma'lumot olish
        imkoniyatini bеradi.
        Sistemali blokda mikroprotsеssor, opеrativ xotira, qattik disk, kontrollеr, diskеtalar bilan ishlash uchun
        qurilmalar va hokazolar joylashadi.

    </p>
    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography><strong>
        Topshiriqlar variantlari (masala, misol, keyslar): </strong><br>
        <br>1. Kompyuterni ishga tushiring.
        <br>2. Setup dasturini ishga tushiring.
        <br>3. Main menyusi bo’limlari bilan tanishing.
        <br>4. Advanced menyusi bo’limlari bilan tanishing.
        <br>5. PCI PNP menyusi bo’limlari bilan tanishing va yozing .
        <br>6. Boot menyusi bo’limlari bilan tanishing.
        <br>7. Chipset menyusi bo’limlari bilan tanishing.
        <br>8. Perfonmance menyusi bo’limlari bilan tanishing.
        <br>9. Exit menyusi bo’limlari bilan tanishing va ishga tushiring

    </p>
    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1. Kompyuterni sozlash deganda nimani tushunasiz?
        <br>2. Setup dasturi haqida gapiring?
        <br>3. Setup dasturi qanday bo’limlardan iborat?
        <br>4. Boot menyusi vazifasi nima?
        <br>5. Exit menyusi qanday vazifani bajaradi?

    </p>
</article>