<article nz-typography>
  <h1 style="text-align: center" nz-typography>Internet xizmatlari bilan ishlash.</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Internet xizmatlari bilan ishlashni o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Internet xizmatlari bilan ishlash haqida nazariy va amaliy ko’nikmalar hosil qilinadi.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>WWW tushunchasi;.<br>Internet provayderlari va ularning vazifalari;<br>Internet tarmog‘i xizmatlari va ulardan
    foydalanish;<br>Brauzer tushunchasi va ularning vazifasi; </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    <strong>WWW tushunchasi. WWW (World Wide Web)</strong> – butun jahon o‘rgamchak to‘ri deb nomlanuvchi tarmoq. WWW –
    bu Internetga ulangan turli kompyuterlarda joylashgan o‘zaro bog‘langan hujjatlarga murojaat qilishni ta’minlab
    beruvchi tarqoq tizimdir. Aynan mana shu xizmat Internetdan foydalanishni soddalashtirdi va ommaviylashtirdi. WWW
    asosida to‘rtta poydevor mavjud:
  </p>
  <p nz-typography>
    1. Barcha hujjatlarning yagona formati (shakli);<br>
    2. Gipermatn;<br>
    3. Hujjatlarni ko‘rish uchun maxsus dasturlar (brouzer);<br>
    4. Yagona manzilni ko‘rsatish tizimi (domen);<br>
  </p>
  <h5>Internet provayderlari va ularning vazifalari. </h5>
  <p nz-typography>
    <strong>Internet provayder</strong> – Internet tarmog‘i xizmatlarini taqdim etuvchi tashkilotdir. Hozirgi kunda
    Internet prvayderlarining ikki turi mavjud: Internetga ulanish va ulanish kanallarini taqdim etuvchi provayder va
    Internet xizmatlarini taqdim etuvchi provayder.
  </p>
  <p nz-typography>
    nternet xizmatlarini taqdim etuvchi provayderlar tomonidan www, elektron pochta, xosting (veb resurslarni
    joylashtirish) kabi Internet xizmatlari ko‘rsatilmoqda. Internetga ulangan tarmoqlarni qurishda undagi
    kompyuterlarga beriladigan manzillar (IP manzil) provayder tomonidan taqdim etilgan oraliqdan tanlab olinadi.
  </p>
  <p nz-typography>
    Provayder tomonidan berilgan manzillarga ega bo‘lmagan kompyuterlar mahalliy tarmoqlar uchun zahiralangan oraliqdagi
    manzillarga ega bo‘lishi va mahalliy tarmoq kompyuterlar bilan ishlashi mumkin:
  </p>
  <p nz-typography>
    192.168.0.1 - 192.168.255.255 <br>
    172.16.0.1 - 172.16.255.255 <br>
    10.0.0.1 - 10.255.255.255<br>
  </p>
  <p nz-typography>
    <strong>Internet tarmog‘i xizmatlari va ulardan foydalanish.</strong> Internet tarmog‘i abonentlariga amaliy
    protokollar tomonidan taqdim etiluvchi funksional imkoniyatlar quyidagilar: veb-xujjatlarni o‘qish, elektron pochta,
    fayllarni uzatish va qabul qilish, muloqatda bo‘lish, tarmoqda xujjatlarni saqlash va ular bilan ishlash.
    Foydalanuvchilar uchun quyidagi xizmatlar mavjud: tarmoqdan foydalanish, internet resurslarini yaratish, tashkiliy
    va axborot ta’minoti, tarmoqda reklamani joylashtirish.
    Katta hajmdagi ma’lumotlarni saqlash va ularni masofadagi kompyuterlarga uzatish uchun xizmat qiluvchi internetning
    FTR (fayllarni uzatish protokoli) xizmatidan foydalanish mumkin. Bunda FTR serverda yangi papka yaratish, unga
    ma’lumotlarni joylashtirish va ularni qayta ko‘chirib olish mumkin. WWW xizmatida masofadan suhbatlashish
    imkoniyatini yaratuvchi chat dasturlari, uzoq masofadagi do‘stlar bilan suhbatlashishda telefon aloqasi o‘rnini
    bosmoqda. Buning uchun internetga bog‘langan kompyuterda tovush karnaylari hamda mikrofonlar bo‘lishi kifoya.
  </p>
  <p nz-typography>
    Hozirgi kunda O‘zbekiston Respublikasi bir qancha Internet provayderlari xizmat ko‘rsatmoqda, bular: UzNet, Sarkor
    Telecom, Sharq Telecom, TPS, ARS Inform, Cron Telecom va boshqalar.
  </p>
  <p nz-typography>
    <strong>Brauzer tushunchasi va ularning vazifasi.</strong> Internet tarmog‘ida foydalanuvchilarga tarmoq
    resurslaridan erkin foydalanish imkoniyatini berish uchun WEB serverlar quriladi. Bunday serverlarda Internetda
    taqdim etilgan axborotning katta qismi jamlanadi. Foydalanuvchining ixtiyoriy axborotni olish tezligi bunday
    serverlarni qanday qurishga bog‘liq.
  </p>
  <p nz-typography>
    WEB-texnologiyasining hozirgi kunda brouzerlar deb ataladigan axborotni ko‘rish uchun mo‘ljallangan o‘ndan ortiq
    turli vositalar mavjud. Brouzer web-sahifalarni ko‘rish dasturi hisoblanadi. Bunda brouzerga yuklangan veb
    sahifadagi Giperbog‘lanishga sichqoncha ko‘rsatkichi bilan bosilsa, avtomatik ravishga ushbu bog‘lanishda
    ko‘rsatilagn sahifa brouzerga yuklanadi. Bunday hollar hech qanday sahifaning manzilini kiritish shart emas, chunki
    giperbog‘lanish barcha kerakli ma’lumotga ega hisoblanadi. Brouzer web-sahifada HTML teglarini topib, ular talabi
    bo‘yicha ma’lumotni ekranga chiqaradi. Teglarning o‘zi esa ekranda aks ettirilmaydi.
    Bugungi kunda brouzerlarning juda ko‘plab turlari mavjud. Eng mashhurlari: Internet Explorer (Windows operatsion
    tizim tarkibidagi bastur), Opera, FireFox.
  </p>
  <p nz-typography>
    Yuklash va ko‘chirib olish(upload, download) tushunchalari. Internet tarmog‘ida ma’lumotlar bilan ishlash vaqtida
    “Upload” va “Download” tushunchalariga juda ko‘p duch kelinadi. Ushbu teminlarga quyidagi tushunchalarni keltirish
    mumkin:
    Upload yuklab qo‘yish. Ma’lumotlarni (fayllarni) kompyuterdan tarmoqdagi yoki Internetdagi boshqa kompyuterga yoki
    serverga yuklab qo‘yish.
    Download yuklab olish. Ma’lumotlarni (odatda faylni) tarmoqdagi yoki Internetdagi boshqa kompyuterlar va
    serverlardan o‘z kompyuteriga yuklab olish.
  </p>
  <br><br><br>
</article>