<article nz-typography>
  <h1 style="text-align: center" nz-typography>Vektorli grafika bilan ishlash.</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Vektorli grafika bilan ishlashni o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Vektorli grafika bilan ishlash, Corel Draw grafik protsessorining asosiy imkoniyatlari haqida nazariy va amaliy
    ko’nikmalar hosil qilinadi.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>Nazariy ma`lumotlar bilan yaqindan tanishish.<br> Ko`rsatilgan namunalarni o`rganib chiqish.<br></p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <h5>Corel DRAW dasturida ishlash asoslari va uni ishga tushirish</h5>
  <p nz-typography>
    Har qanday hajmdagi axborotlar inson tomonidan uning ko’rish kanallari orqali qabul qilinganda yaxshi
    o’zlashtiriladi, masalan, bolalikdagi rasmli kitoblaringiz sizga ko’proq yoqqan. Katta hajmdagi axborotlarni ba’zan
    boshqa shaklda qabul qilish qiyinroq. Masalan biror kompaniyaning kunlar bo’yicha bir yillik aktsiyalarining kursi
    ko’rsatilgan jadvalni grafik asosda tuzilgan bo’lsin. Bunda kursning bir yoqlama o’zgarish grafigi darhol ko’rinadi,
    lekin ularni jadvaldan anglash uchun vaqt va malaka talab qilinadi. Shuning uchun grafik ma’lumotlarning ulushi har
    qanday turdagi kasb bilan bog’liq faoliyatda qat’iy o’smoqda.
  </p>
  <p nz-typography>
    Shunday ekan tasvirlar bilan ishlaydigan vosita va bu vositalar bilan to’g’ri ishlay oladigan mutaxassislar talab
    qilinadi. Ehtiyoj doim taklifni keltirib chiqaradi, shuning uchun grafik tasvirlarni avtomatlashtirishga
    mo’ljallangan dastur ta’minotlar bozori juda turli xil va kengdir. Corel nomi bilan ataluvchi Kanada firmasining
    dasturlar ta’minoti bilan shug’ullanuvchi CorelDRAW so’zsiz shu peshqadamlardan biri hisoblanadi. Corel firmasining
    dasturlar ta’minoti asosini tashkil etuvchi CorelDRAW 11 2002 yilning avgustida ishlab chiqarildi. U reklama
    mahsulotlarini ishlab chiqarishda, nashrlarni tayyorlashda, hamda Web sahifalari uchun tasvirlarni yaratishda katta
    imkoniyatga ega.Sho’nga qaramasdan vektorli grafika bilan ishlaydigan dunyo bo’yicha peshqadam dasturlar mavjud.
    Shulardan biri – Adobe Illustrator grafik dasturi. Lekin CorelDRAW, Adobe Illustrator dan qo’lishmaydi, u ko’p
    parametrlar bo’yicha undan ustun ham keladi.
  </p>
  <h5>SHAPE \* MERGEFORMAT </h5>
  <p nz-typography>
    <strong>Corel DRAW ( Korel dro)</strong> – bu grafikli dastur bo’lib, uning yordamida vektorli tasvirlarni, grafikli
    matnlarni, xamda sizning tassovuringizdagi barcha ijodiy goyalaringizni amalga oshirishga yordam beradi.
  </p>
  <p nz-typography>
    <strong>CorelDRAW dasturida ishlash asoslari:</strong> <br>
    1.Nuqtali va vektorli tasvirlar;<br>
    2. Corel DRAW ni ishga tushirish.<br>
    3.Yangi hujjatni yaratish.<br>
    4. Hujjatni ochish va yopish.<br>
    5. Hujjatni saqlash. <br>
    6.Sahifaning parametrini o’zgartirish.<br>
  </p>
  <p nz-typography>
    <strong>Corel DRAW</strong> dasturi ishlaydigan barcha tasvirlar ikki sinfga bo’linadi: nuqtali va vektorli.Vektorli
    grafikada tasvirning asosiy elementi sifatida chiziq qarladi.Chiziq sifatida to’g’ri chiziq bo’lishi mumkin. Rastrli
    grafikada bunday chiziqlar nuqtalar (piksellar) yordamida yaratilsa, vektorli grafikada esa tasvirlar yaratishda
    nuqtaga nisbatan umumiyroq bo’lgan chiziqlardan foydalaniladi va shuning hisobiga tasvirlar aniqrog’ bo’ladi.
  </p>
  <p nz-typography>
    Vektorli grafikaning ixtiyoriy tasviri chiziqlardan tashkil topadi va oddiy chiziqlardan murakkablari hosil
    qilinadi. Vektorli grafikaning matematik asosini geometrik figuralarning xossasini o’rganish hosil qiladi. Vektorli
    tasvirlarni kompyuter xotirasida ifodalanishi nuqtaliga qaraganda murakkabroq. Nuqtali tasvirning kamchiligi –
    kompyuter xotirasida ularni saqlash katta joy talab etiladi. Nuqtali tasvirlar bilan yuqori aniqlikda ishlashda,
    ularga mos fayllarning o’lchami yuzlab megobaytlarni tashkil etadi. Ko’pincha, bunday katta ob’ektlar bilan
    ishlaganda zamonaviy kompyuterlarning tezligi etmay qo’ladi. Vektorli tasvir bilan ishlash mutloqa oson. Uni katta
    yoki kichik qilish uchun, faqat uni boshqaradigan tasvir parametrini o’zgartirish mumkin. Bunda vektorli tasvir
    faylining o’lchami bir baytga ham oshmaydi.
  </p>
  <p nz-typography>
    In the process of internal desktop applications development, many different design specs and implementations
    would be involved, which might cause designers and developers difficulties and duplication and reduce the
    efficiency of development.
  </p>
  <h5>Vektorli tasvir (chapda), nuqtali tasvirdan (o’ngda) farqli ravishda kattalashtirilganda aniqligi yo’qo’lmagan.
  </h5>
  <p nz-typography>
    Corel DRAW ni ishga tushirish. Corel DRAW 12 ni grafik muxarririni ishga tushirish uchun Pusk tugmasiga kirib,
    Prgrammo’ buyrug’i bo’limi tanlanadi, so’ng ro’yxatdan Corel DRAW 12buyrg’i berildai yoki Windows XP ish stolida
    uning yorlig’i ustida sichqoncha tugmasi ikki marta bosiladi. Dastur yo’qlangandan so’ng ekranda CorelDRAW12 ning
    2-rasmda tasvirlangan bosh oynasi paydo bo’ladi.
  </p>
  <h5>Standart uskunalar paneli tugmachalarining
    vazifalari</h5>
  <p nz-typography>
    yangi hujjat yaratish.<br>
    - mavjud hujjatni ochish. <br>
    - hujjatni saqlash. <br>
    - hujjatni chop qilish. <br>
    - qirqish. <br>
    - nusha olish. <br>
    - qo’yish <br>
    - ohirgi harakatni bekor hilish. <br>
    - import (bir hujjatni ikkinchisiga ulash) <br>
    - eksport (fayllarni jo’natish). <br>
    - ilovani yo’qlanish moduli.<br>
    - Corel DRAW ning saytiga kirish.<br>
    - masshtabni kattalshtirish darajasi.<br>
  </p>
  <p nz-typography>
    <strong>Atributlar paneli.</strong><br>
    Standartuskunalar panelining ostida “atributlar paneli” (panel atributov) satri joylashgan. U belgilangan ob’ektning
    parametrlarni o’zgartiradigan Boshqarish elementlari to’plamidan iborat.Atributlar paneli ichidagi elementlar
    belgilangan ob’ektning shakliga qarab o’zgarib turadi. Bu panel foydalanuvchining asosiy <strong>ish paneli</strong>
    deb ataladi.

  </p>
  <p nz-typography>
    <strong>Ranglar palitrasi.</strong><br>
    Oynaning o’ng chegarasi bo’ylab “Palitra tsvetov” (ranglar palitrasi) paneli joylashgan. U rangni to’ldirish va
    rasmli ob’ektlarning atrofini himoyalash, aylantirib bo’yash uchun qo’llaniladi
  </p>
  <p nz-typography>
    <strong>Uskunalar paneli</strong><br>
    Ish maydonining chap qismida uskunalar to’plami (toolbox) oynasi joylashgan. Undagi kerakli uskunani tanlash uchun
    uning ustida sichqoncha tugmasi bosiladi.Kearakli uskunani tanlash bilan foydalanuvchining tasvir ustida barcha
    harakatlari boshlanadi.
  </p>
  <p nz-typography>
    <strong>Uskunalar panelidagi asosiy uskunalar va ularning vazifalari.</strong><br>
    - Ukazatel (ko’rsatgich), tasvirni belgilaydi.<br>
    - Forma (shakl) uskunasi .<br>
    - Masshtab (o’lcham). Ob’ektning o’lchamini o’zgartiradi.<br>
    -“ Svobodnaya ruka” uskunasi. Ixtiyoriy shakldagi chiziqlarni chizadi.<br>
    - Avtorisovanie uskunasi. Erkin chiziqlarni hosil qiladi.<br>
    - To’rtburchak uskunasi.to’rtburchaklar sinfini hosil qiladi.<br>
    - Aylana va uning sinfiga tegishli ob’ektlarni chizadi.<br>
    - Mnogougolnik (ko’pburchak) uskunasi.Ko’pburchaklarni chizadi.<br>
    - Prosto’e formo’(oddiy formalar).<br>
    - Tekst (matn) uskunasi. Matnlar bilan ishlashni ta’minlaydi.<br>
    - Tasvirni o’zgartiradi.<br>
    - Pipetka<br>
    - Kontur<br>
    - Zalivka<br>
    - Ob’ektga zalivkani to’ldiradi.<br>
  </p>
  <p nz-typography>
    <strong>Topshiriqlar variantlari (masala, misol, keyslar):</strong><br>
    1. Polygon (ko’pburchak) uskunasidan foydalanib quyidagilarni chizing:<br>

    EMBED CorelDraw.Graphic.13 EMBED CorelDraw.Graphic.13 EMBED CorelDraw.Graphic.13 EMBED CorelDraw.Graphic.13


    <br>2. Beze (egri chiziqlar) uskunasidan foydalanib quyidagilarni chizing:
  </p>
  <br><br><br>
</article>