<article nz-typography>
  <h1 style="text-align: center" nz-typography>Xizmat ko`rsatuvchi dasturlar va utilitlar</h1>
  <br>
  <h4>Ishning maqsadi:</h4>
  <p>Xizmat ko`rsatuvchi dasturlar va utilitlarni o`rgatish va amaliy ko`nikmalar hosil qilish.</p>
  <h4>Kutilayotgan natija:</h4>
  <p>Xizmat ko`rsatuvchi dasturlar va utilitlar haqida nazariy va amaliy ko’nikmalar hosil qilinadi.</p>
  <h4>Amaliy jihozlari:</h4>
  <p>Tarqatma topshiriqlar, kompyuterlar.</p>
  <h4>Ish rejasi:</h4>
  <p>Nazariy ma`lumotlar bilan yaqindan tanishish. <br> Ko`rsatilgan namunalarni o`rganib chiqish.<br>Nazariy qismda
    berilganlarni kompyuterda bajarib ko`rish.<br>Topshiriqlar variantlarida keltirilgan masalalarni bajarish . </p>

  <h3 class="head title" nz-typography>Nazariy ma’lumotlar</h3>
  <p nz-typography>
    Yordamchi(xizmat ko’rsatuvchi) dasturiy ta’minotga asosiy dasturiy ta’minot imkoniyatlarini kengaytiruvchi va
    foydalanuvchining ish muxitini (interfeysni) qulayroq tashkil etuvchi dasturlar kiradi. Bular tashxis qiluvchi,
    kompyuterning ishchanligini oshiruvchi, antivirus, tarmoq ishini ta’minlovchi va boshqa dasturlardir.
  </p>
  <p nz-typography>
    Asosiy dasturiy ta’minotni qo’shimcha ravishda urnatiladigan xizmat ko’rsatuvchi dasturlar to’plami tuldirib turadi.
    Bunday dasturlarni ko’pincha <strong>utilitlar</strong> deb atashadi.

  </p>
  <p nz-typography>
    <strong>Utilitlar</strong> - bu, ma’lumotlarni qayta ishlashda qo’shimcha operatsiyalarni bajarishga yoki
    kompyuterga xizmat ko’rsatishga (tashxis, apparat va dasturiy vositalarni testlash, diskdan foydalanishni
    optimallashtirish va boshqalar) mo’ljallangan dasturlardir.
    Kompyuterning dasturiy ta’minoti orasida eng ko’p qo’llaniladigani amaliy dasturiy ta’minot(ADT)dir. Bunga asosiy
    sabab- kompyuterlardan inson faoliyatining barcha sohalarida keng foydalanishi, turli predmet sohalarida
    avtomatlashtirilgan tizimlarni yaratilishi va qo’llanishidir.
  </p>
  <h5>1. Total Commander dasturi haqida ma’lumot.</h5>
  <p nz-typography>
    Total Commander dasturi Norton Commander dasturidan ba’zi nmkoniyatlari boʻyicha takomillashgani bilan farq
    qilsa-da, ammo mohiyatan bir xil vazifalarni bajarishga moʻljallangan, Windows operatsion tizimining qobiq
    dasturlaridan biri sanaladi. Qobiq dasturlar odatda foydalanuvchiga sifat jihatidan Yangi interfeys taqdim etadi.
    Chunki, ular Windows operatsion tizimi obyektlari ustida bajariladigan har qanday amallarni oʻzining maxsus buyruqli
    vositalari yordamida osonroq va tez amalga oshirish imkonini beradi. Total Commander qobigʻining buyruqlari bir
    nechta usullarda berilishi mumkin: menyu rejimida, klavish kombinatsiyalarida, qobiqning panellar obyektlarida,
    sichqonchaning harakatlanishida va h.k.
  </p>
  <h5>2. Total Commander dasturining afzalligi va imkoniyatlari.</h5>
  <p nz-typography>
    Total Commander dasturi yordamida: <br><br>
    −fayl va katalog(papka) yaratish, qayta nomlash, koʻchirish va oʻchirish;<br>
    −fayl va kataloglarni yaratilagan yoki oʻzgartirilgan sanasi boʻyicha, alifbo boʻyicha, kengaytmasi boʻyicha
    saralash;<br>
    −fayllarni arxivlash va arxivni ochish;<br>
    −matnli va arxivlangan fayllarni koʻrish, matnli va grafikli fayllarni tahrir qilish, diska yozish va shunga
    oʻxshash bir qator ishlarni xudi NC dasturidagi kabi amalga oshirish mumkin.<br>
  </p>
  <p nz-typography>
    Total Commander dasturini ishga tushirish uchun Windows asosiy menyusidan
    <strong>[Пуск]→[Программы]→[Total Commander]</strong>
    buyrugʻini bajarish, yoki ish stolining oʻzida oʻrnatilgan TC yorligʻiga murojaat etish mumkin. Natijada ish stolida
    dastur oynasi yuzaga keladi.
  </p>
  <h5>Total Commander dasturi oynasining tuzilishi.</h5>
  <p nz-typography>
    <strong>Arxivlovchi dasturlar.</strong>
    Kompyuter texnologiyalar rivojlanishi bilan ma’lumotlar hajmi koʻpayishi boshlangan. Shu sababli yoki kompyuter
    xotirasini koʻpaytirish yoki ma’lumotlar hajmini kamaytirish ehtiyoji paydo boʻlgan.
  </p>
  <p nz-typography>
    ayllar arxivlanish jarayonida ular ixchamlanadi, siqiladi hamda disk hajmlarini kengaytirishda yordam beradi. Odatda
    fayllarni arxivlash ularni bir joydan ikkinchi joyga tashqi qurilmalar (disketalar) orqali koʻchirishda, diskda
    boʻsh oʻrinlar ochishda, elektron pochta orqali katta axborotlarni kichraytirib joʻnatishda bunday fayllar bilan
    ishlash zaruriyati tugʻiladi. Arxivlash jarayoni faylning qattiq diskda ishdan chiqishi yoki tasodifan faylning
    oʻchirilishi hollarini oldini oluvchi vosita sifatida ham koʻp qoʻllaniladi.
  </p>
  <p nz-typography>
    <strong>Arxivator dasturlar</strong> - bu kompyuterdagi ma’lumotlar hajmini oʻzgartirib maxsus fayllarga ularni
    joylashtiradigan dasturlar. Ular hajmni oʻzgartirish tezligi va siqish holatlari bilan ajratiladi. Eng taniqli
    arxivator dasturlarga ARJ, RAR va ZIP – UNZIP lar kiradi.
  </p>
  <p nz-typography>
    <strong>Topshiriqlar variantlari (masala, misol, keyslar):</strong> <br>
    Yangi papka yoki katalog yarating va uni guruhingiz nomini qo’ying.<br>
    Yangi matn fayl yarating va uni O’z ism sharifingiz bilan nomlang.<br>
    Bu faylga o’z tarjimaiy holingizni kiriting.<br>
    Faylni o’zingiz yaratgan papka ichiga xotirada saqlang.<br>
    Fayl mazmunini ko’rish uchun qaysi tugmacha bosiladi?<br>
    Faylni qayta taxrir qilish uchun qaysi tugmacha bosiladi?<br>
    Yangi papka yoki katalog yarating va uni fakultetigiz nomini qo’ying<br>
    Yaratgan matn faylingizdan ushbu papkaga nusxa ko’chiring.<br>
    Faylni qayta nomlash uchun nima qilinadi?<br>
    Yaratilgan faylni arxivlang va arxivdan oching.<br>
    Papka, fayl va fayllar guruxini o’chirish uchun qaysi tugmacha bosiladi?<br>
  </p>
  <p nz-typography>
    Amaliy ishlarini o’tkazish qoidalari va xavfsizlik choralari:<br>
    Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
    olinadi.<br>Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.
  </p>
  <br><br>
</article>



