<article nz-typography>
    <h1 style="text-align: center" nz-typography>Mavzu: Axborotlarni himoyalovchi   dasturiy vositalar bilan ishlash </h1>
    <br>
    <h4>Ishning maqsadi:</h4>
    <p>Axborotlarni himoyalashning dasturiy vositalarni o`rgatish.</p>
    <h4>Kutilayotgan natija:</h4>
    <p>Axborotlarni himoyalashning dasturiy vositalari  haqida  nazariy va amaliy ko’nikmalar hosil qilinadi</p>
    <h4>Laboratoriya jihozlari:</h4>
    <p>Tarqatma topshiriqlar, kompyuterlar.</p>
    <h4>Ish rejasi:</h4>
    <p>
        <br>1. Nazariy ma`lumotlar bilan yaqindan tanishish.
        <br>2.	Ko`rsatilgan  namunalarni o`rganib chiqish.
        <br>3.	Nazariy qismda berilganlarni kompyuterda bajarib ko`rish.
        <br>4.	Topshiriqlar variantlarida keltirilgan masalalarni bajarish .
        <br>5.	Natijalarni olish.

    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography>
        BIKompyuter virusi maxsus yozilgan dastur bo‘lib, u boshqa dasturlarga qo‘shilishi (ya’ni uni zararlashi) mumkin, shuningdek kompyuterda noma’qul xarakatlarni amalga oshirilishi mumkin. Hozirgi kunda 450 000 dan ortiq kompyuter viruslari mavjud.
        Bugungi kunda keng tarqalgan antivirus dasturlardan biri Doctor Web (Dr. Web) hisoblanadi. Quyida biz uni qanday ishlatish mumkinligini ko‘rsatamiz. Buning uchun dastur ishga tushiriladi. Dasturni ishga tushirish quyidagicha amalga oshiriladi:
        <br>1.	Windows ishchi maydonidan DrWeb ( ) yorlig’i yordamida.
        <br> 2.	«ПускПрограммыDrWeb» ketma – ketligi orqali.
        <br> Dastur ishga tushgandan so’ng quyidagi oyna hosil bo’ladi.

        <br>Bu oynani dastur menyusi, tekshirish va tekshirilganlik haqida ma’lumot beruvchi bo’lim, tekshirish natijasini aks ettiruvchi oyna va tekshirish jarayoni haqida ma’lumot beruvchi qator tashkil etadi.
        Masalan, C:\ diskni tekshirib ko’raylik. Buning uchun, disk belgilanadi, ya’ni tekshirish bo’limidan «Выборочно» bandi tanlanadi va hosil bo’lgan ro’yhatdan  disk ustida sichqoncha bir marta bosiladi. Natijada C:\ disk belgilanadi  . So’ngra   boshlash (Начатпроверку) tugmasi bosiladi. Shundan so’ng dastur ishini boshlaydi. Dastur ishini tugatgach tekshirish jarayoni haqida ma’lumot beruvchi qatorda tekshirib bo’linganlik haqida ma’lumot chiqadi. Agarda virus yo’q bo’lsa,    yozuvini ko’rishimiz mumkin.
        Virusga qarshi dasturlar ishining alohida xususiyati shundaki, dastur omborini o‘z vaqtida yangilab turish kerak.



    </p>

    <h3 class="head-title" nz-typography>Nazariy ma’lumotlar</h3>
    <p nz-typography><strong>
        Topshiriqlar variantlari (masala, misol, keyslar): </strong><br>
        <br>1. C:\ diskni tekshiring.
        <br>2. A:\ diskni tekshiring.
        <br>3. «Windows» papkasini tekshiring.
        <br>. «Мойдокументы» papkasini tekshiring.
        <br>5. Virus bor yoki yo’qligini dastur natijasiga qarab aniqlang.


    </p>
    <h5>Laboratoriya ishlarini o’tkazish qoidalari va xavfsizlik choralari: </h5>
    <p nz-typography>
        Berilgan nazariy ma’lumot bilan tanishib chiqiladi va topshiriqlar variantlari ketma-ket bajariladi va natijalar
        olinadi.
        Kompyuter xonasida xavfsizlik texnikasi qoidalari va sanitariya – gigiyena talablariga amal qilinadi.

    </p>
    <p nz-typography>
        <strong>Nazorat savollari:</strong><br>
        <br>1.	Ахbоrоt хаvfsizligining mаqsаdi.
        <br>2.	Kompyuter virusi nima?
        <br>3	 Kompyuter virusini insonga ta’siri nima?
        <br>4.	 Viruslardan qanday saqlanish mumkin?
        <br>5.	Viruslardan saqlanish uchun qanday choralarni ko‘rish kerak?
        <br>6.	Virusga qarshi DrWeb dasturi haqida gapirib bering?


    </p>
</article>
