<article nz-typography>
  <h1 class = "main-title" nz-typography>3- Mavzu: Operasion tizimlar, ularning turlari. Axborot jarayonlarining dasturiy ta’minoti, dasturiy ta’minot turlari. Xizmat ko’rsatuvchi dasturlar va utilitalar</h1>
  <h3>Reja:</h3>
  <h4>1. ShK ning programma ta’minoti.</h4>
  <h4>2. Operatsion sistema tushunchasi, operatsion sistemaning rivojlanish bosqichlari.  </h4>
  <h4>3. Windows, Unix, Linux va Doppix operatsion tizimlari</h4>
  <h4>4. Arxivlovchi dasturlar</h4>
  <h4>5. Total Commander dasturi haqida ma’lumot.</h4>
  <h4>6. Total Commander dasturining afzalligi va imkoniyatlari.</h4>
  <h4>7. Total Commanderda fayllar ustida amallar bajarish</h4>
  <h4>8. Kompyuter viruslari va antivirus dasturlar.</h4>

  <p nz-typography>
    <strong>Tayanch soʻz va iboralar:</strong>  operatsion sistema, operatsion sistemaning  rivojlanish bosqichlari, Windows, Unix, Linux, Doppix, dastur, OT rivojlanish bosqichlari, qobiq dasturlar, fayl, papka, disk, disk hajmi, arxiv, arxivlangan fayl, arxivator, winzip, winrar, winarj,zipmagic, virus, kompyuter virusi, zararlangan drayver, koʻrinmas virus, faylli virus, yuklovchi virus, makro virus, tarmoq virusi.
  </p>
  <p nz-typography>
    Ma’lumki, axborot texnologiyalarining inson faoliyati hamma jabxalarga kirib  borish jarayoni borgan sari rivojlanib chuqurlashib bormoqda.  Umumiy  soni,  kо‘p  yuz  milliondan  oshib  ketgan,  keng  tarqalgan  shaxsiy  kompyuterlardan  tashqari,  hisoblash  tizimlarining  maxsus vositalari ham kо‘payib bormoqda. Bu turli-tuman  hisoblash  texnikasidan foydalanuvchilar soni ham kо‘payib borayotganini bildiradi, bunda  ikki  qarama-qarshi tendensiyani rivojlanishi kuzatilmoqda. Bir tomondan, axborot texnologiyalari borgan sari murakkablashmoqda va ularni  qо‘llash  uchun,  va  ularni  keyingi  rivojlanishi  uchun  juda  chuqur bilimlar talab qilinadi. Boshqa tomondan, foydalanuvchilarning kompyuterlar  bilan muloqati soddalashmoqda. Kompyuterlar va axborot tizimlari borgan sari “dо‘stona” bо‘lib bormoqda, va hatto ular informatika va  hisoblash texnikasi sohasida mutahassis bо‘lmagan  odamlar uchun ham tushunarli bо‘lib bormoqda. Bu narsa, eng avvalo foydalanuvchilar  va  ularning dasturlari,hisoblash texnikasi bilan maxsus (tizimli) dasturiy ta’minot – operatsion tizim orqali muloqat qilganliklari uchungina yuzaga keldi.
  </p>
  <p nz-typography>Shaxsiy kompyuter ikkita tashkiliy qismlardan iborat, bular texnikaviy ta’minot (hardware) va dasturiy ta`minot (software)lardir.
  </p>
  <p nz-typography>
    <strong>Texnikaviy ta’minoti</strong>  — bu kompyuterning asosiy texnik qismlari va qo’shimcha (atrof) qurilmalaridir.
  </p>
  <p nz-typography>
        Hisoblash tizimi tarkibi konfiguratsiya  deb  ataladi.  Odatda  hisoblash  texnikasining apparat va dasturiy vositalari alohida olib о‘rganiladi. Shuning uchun  ham  mos  ravishda  hisoblash tizimlari apparat  konfiguratsiyasi  va  dasturiy  konfiguratsiyasi  alohida  olib  о‘rganiladi. Bunday bо‘linish axborot texnologiyalari uchun muhim ahamiyatga egadir, chunki  kо‘p xollarda alohida olingan masala yechimini ham apparat, ham dastur vositalari yordamida ta’minlash mumkin.
  </p>

  <div style="text-align: center">
    <img nz-image
         width="600px"
         height="300px"
         [nzSrc]="'assets/images/3ot.webp'"
         alt=""/>
  </div>
  <h3>Apparat ta’minoti.</h3>
  <p nz-typography>
    Hisoblash tizimlarining apparat ta’minoti  tarkibiga,  apparat  konfiguratsiyani  tashkil  etuvchi qurilma va asboblar kiradi. Zamonaviy kompyuter va hisoblash majmua (kompleks)lari blok-modulli konstruksiya (tuzilish)dan  iborat.  Ma’lum  ishlarni  bajarishga  zarur  bо‘lgan  apparat konfiguratsiyani tayyor blok va qismlardan yig‘ib olish mumkin.Qurilmalarning, markaziy protsessorga (Central Processing UNIT, CPU) nisbatan joylashishiga qarab tashqi va ichki qurilmalarga ajratamiz.Tashqi qurilmalar, qoida bо‘yicha, ma’lumotlarni kiritish va chiqarish qurilmalaridir, ularni odatda periferik qurilmalar  deb  ham  ataladi.  Bundan  tashqari ma’lumotlarni uzoq saqlashga mо‘ljallangan qurilmalar ham tashqi qurilmalarga kiradi.
  </p>

  <p nz-typography>
    <strong>Interfeys</strong> (interface —  Kompyuterga tegishli adabiyotda ba’zida «interfeys» atamasi  o’rniga
    «nazoratchi»  yoki  «adapter»   atamalari   ishlatiladi.  qatiy  aytganda,   bu   to’g’ri emas,   chunki
    «nazoratchi» (controller) interfeysni boshqaradi va uning ishlashini ta’minlaydi, «adapter» (adapter) interfeyslarning to’g’ri (mos) kelishini ta’minlaydi) — ulanish va aloqa vositalari to’plami bo’lib, u tizimlarning yoki ular qismlarining o’zaro samarali harakatini ta’minlaydi. Interfeysda odatda ulanish masalalarining mexanik (simlar soni, aloqa elementlari, ulanish tiplari, kontaktlar nomerlari va sh. o’.) va mantiqiy (tushunarli signallar, ularning uzunligi, qutbliligi, chastotasi va amplitudasi, o’zaro harakat bayonnomalari)darajalari ko’zda tutilgan. Dasturiy ta’minot kompyuterning ikkinchi muxim qismi bo’lib, u ma’lumotlarga ishlov beruvchi dasturlar majmuasini va kompyuterni ishlatish uchun zarur bo’lgan hujjatlarni o’z ichiga oladi.
    SHaxsiy kompyuterlar haqida gap ketganda kompyuter tizimi bilan ishlashda uchinchi ishtirokchini, ya’ni insonni (foydalanuvchini) ham nazarda to’tish lozim. Inson kompyuterning ham apparat, ham dasturiy vositalari bilan muloqotda bo’ladi. Insonning dastur bilan va dasturni inson bilan o’zaro muloqoti - foydalanuvchi interfeysi deyiladi.
  </p>
  <p nz-typography>
    Endi kompyuterning dasturiy ta’minoti bilan tanishib chiqaylik. Barcha dasturiy ta’minotlarni uchta kategoriya bo’yicha tasniflash mumkin: <br> <br>
    •	sistemaviy dasturiy ta’minot;<br>
    •	amaliy dasturiy ta’minot;<br>
    •	dasturlash texnologiyasining uskunaviy <br><br>
  </p>      <p nz-typography>
  <strong>Sistemaviy dasturiy ta’minot (Sistem software) </strong>- kompyuterning va kompyuter tarmoqlarining ishini ta’minlovchi dasturlar majmuasidir.
</p>      <p nz-typography>
  <strong>Amaliy dasturiy ta’minot (Aplication program paskage) </strong>- bu aniq bir predmet sohasi bo’yicha ma’lum bir masalalar sinfini yechishga mo’ljallangan dasturlar majmuasidir.
</p>

  <p nz-typography>
    Sistemaviy dasturiy ta’minot ikkita tarkibiy qismdan - asosiy (bazaviy) dasturiy taminot va yordamchi(xizmat ko’rsatuvchi) dasturiy ta’minotdan iborat. Asosiy dasturiy ta’minot kompyuter bilan birgalikda yetkazib berilsa, xizmat ko’rsatuvchi dasturiy ta’minot alohida, qo’shimcha tarzda yaratilishi mumkin.
    Asosiy dasturiy ta’minot (baze software) - bu, kompyuter ishini ta’minlovchi dasturlarining minimal to’plamidan iborat.
  </p>
  <p nz-typography>
    Ularga quyidagilar kiradi: <br> <br>
    •	operatsion tizim (OT);<br>
    •	tarmoq operatsion tizimi.
  </p>
  <p nz-typography>
    <strong>Muammoga yo’naltirilganADTga quyidagilar kiradi:</strong> <br><br>
    •	buxgalteriya uchun DT;<br>
    •	personalni boshqarish DT;<br>
    •	jarayonlarni boshqarish DT;<br>
    •	bank axborot tizimlari va boshqalar.<br>
  </p>
  <p nz-typography>
    Umumiy maqsadli ADT - soha mutaxassisi bo’lgan foydalanuvchi axborot texnologiyasini qo’llaganda uning ishiga yordam beruvchi ko’plab dasturlarni o’z ichiga oladi. Bular: <br> <br>
    •	kompyuterlarda ma’lumotlar bazasini tashkil etish va saqlashni ta’minlovchi ma’lumotlar bazasini boshqarish tizimlari (MBBT);<br>
    •	matnli	hujjatlarni	avtomatik	ravishda	formatlashtiruvchi,	ularni	tegishli	holatda rasmiylashtiruvchi va chop etuvchi matn muharrirlari;<br>
    •	grafik muharrirlar;<br>
    •	hisoblashlar uchun qulay muxitni ta’minlovchi elektron jadvallar;<br>
    •	taqdimot qilish vositalari, ya’ni tasvirlar xosil qilish, ularni ekranda namoyish etish, slaydlar, animatsiya, fil’mlar tayyorlashga mo’ljallangan maxsus dasturlar.<br>
  </p>
  <p nz-typography>
    Ofis ADT idora faoliyatini tashkiliy boshqarishni ta’minlovchi dasturlarni o’z ichiga oladi.
    Ularga quyidagilar kiradi:<br><br>
    •	planirovopik	yoki	organayzerlar,	ya’ni	ish	vaqtini	rejalashtiruvchi,	uchrashuvlar bayonnomalarini, jadvallarni tuzuvchi, telefon va yozuv kitoblarini olib boruvchi dasturlar;<br>
    •	tarjimon dasturlar, ya’ni berilgan boshlang’ich matnni ko’rsatilgan tilga tarjima qilishga mo’ljallangan dasturlar;<br>
    •	skaner yordamida o’qilgan axborotni tanib oluvchi va matnli ifodaga o’zgartiruvchi dasturiy vositalar;<br>
    •	tarmoqdagi uzoq masofada joylashgan abonent bilan foydalanuvchi orasidagi o’zaro muloqotni tashkil etuvchi kommunikatsion dasturlar.<br>
  </p>
  <p nz-typography>
    Kichik nashriyot tizimlari, matnni formatlash va taxrirlash, avtomatik ravishda betlarga ajratish, xat boshlarini yaratish, rangli grafikani matn orasiga qo’yish va xokazolarni bajaradi.
    <strong>Sun’iy intellekt tizimlari. Bu sohadagi izlanishlarni turt yo’nalishga bulish mumkin:</strong><br><br>
    •	ijodiy jarayonlarni imitatsiya qiluvchi tizimlar; Ushbu yo’nalish kompyuterda o’yinlarni(shaxmat,shashka va x.k.), avtomatik tarjima qilishni va boshqalarni amalga oshiradigan dasturiy ta’minotni yaratish bilan shugillanadi.<br>
    •	bilimlarga asoslangan intellektual tizimlar; Ushbu yo’nalishdagi muxim natijalardan biri ekspert tizimlarni yaratilishi hisoblanadi.SHu tufayli sunhiy intellekt tizimlarini ma’lum va kichik sohalarning eksperti sifatida tan olinishi va qo’llanishi mumkin.<br>
    •	EXMlarni yangi arxitekturasini yaratish; Bu yo’nalish sunhiy tafakkur mashinalari(beshinchi avlod EXMlari) ni yaratish muammolarini urganadi.<br>
    •	intellektual robotlar; Bu yo’nalish oldindan qo’yilgan manzil va maqsadga erisha oladigan intellektual robotlar avlodini yaratish muammolari bilan shugillanadi.<br>

  </p>
  <h3>Windows haqidа umumiy tushunchаlаr</h3>
  <p nz-typography>

    WINDOWS (inlizchа WINDOWS – оynаlаr dеgаn mа’nоni аnglаtаdi.) Misrosoft (MS) firmаsining prоgrаmmа mаhsuli bo’lib, mахsus tаyyorgаrlikkа egа bo’lmаgаn kоm’pyutеrdаn fоydаlаnuvchilаr uchun mo’ljаllаngаn оpеrаtsiоn tizimdir. Uning аsоsiy mаqsаdi – kоmpyutеrdаn fоydаlаnish ilоji bоrichа sоddа vа o’rgаnish uchun оsоn, shu bilаn birgа fоydаlаnuvchigа mumkin qаdаr kеng imkоniyatlаr yarаtish hоligа kеltirishdir. Mаzkur tаlаblаrgа jаvоb bеruvchi MS WINDOWS 95 оpеrаtsiоn tizimi 1995 yil аvgust оyidа ishlаtilа bоshlаgаn bo’lsа, uning ruschа vаriаnti 1995 yilning sеntyabridаn Rоssiyadа qo’llаnilа bоshlаdi.
    MS WINDOWS 95 WINDOWS lаrning yangi vеrsiyasi emаs, bаlki o’tа murаkkаb prоgrаmmаlаr mаjmui bo’lib, shu bilаn birgа fоydаlаnish uchun оsоn оpеrаtsiоn tizimdir.
    WINDOWS ning аvvаlgi vеrsiyalаri (WINDOWS 3.0, 3.1, 3.11, 3. 12) аsоs sifаtidа MS DOSni qаbul qilgаn bo’lsа, Windows 95 o’zi mustаqil bo’lib, kоmp’pyutеrdа bоshqа bir оpеrаtsiоn tizimning bo’lishini tаlаb qilinmаydi. Lеkin shu bilаn bu muhitdа MS DOS vа WINDOWS ning eski vеrsiyalаri bilаn ishlаsh imkоniyati sаqlаngаn.
  </p>
  <h3>Oynalar</h3>
  <p nz-typography>
    Oynalar
    Windows bilan ishlashda siz Windows ish stolini (IS) boshqarishni yoki xuddi shuningdek oynalarni boshqarishni bilishingiz kerak.
    Har bir ob’ekt o‘z oynasiga ega bo‘lgani uchun ham tizim nomi (Window-oyna, Windows- oynalar) Windows deb atalgan.
    Ish stolida oynani ochish va yopish, siljitish va o‘lchamini o‘zgartirish, yig‘ish mumkin. Demak, biz Windows da ishlash uchun oynalarni boshqarishni o‘rganishimiz zarur bo‘ladi. Ish stolida barcha oynalar quyidagicha umumiy xarakterga ega bo‘ladi. Ish stolidagi nishonni sichqon yordamida ikki marta zudlik bilan chertilsa, u ishga yo’qlanadi va uning oynasi paydo bo‘ladi.
    Barcha oynada uning nomi oynaning yuqori qismida joylashgan. Ochiq bo‘lgan oynalardan faqat bittasi aktiv qolgan oynalar passiv bo‘ladi. Foydalanuvchi faqat aktiv oynada ish olib boradi. Aktiv oyna passiv oynalardan ularning ustida joylashishi va rangining yorug‘ligi bilan farq qiladi. Boshqa ochiq bo‘lgan passiv oynani aktivlashtirish uchun uning ko‘rinib turgan sohasiga chertish yoki Alt+Tab klavishlarini bosish kerak.
  </p>
  <h3>Nishonlar ustida ishlash.</h3>
  <p nz-typography>
    Nishonni nomini, undagi rasm belgini foydalanuvchi ixtiyoriga ko‘ra o‘zgartirish, almashtirish, nishonni o‘chirish mumkin. Buning uchun nishonni tanlab sichqonni o‘ng tugmasini bosing va kerakli ishlarni bajarishga o‘tish mumkin. Bu ishlarni sizga mustaqil bajarish uchun qoldiramiz.
    Nishon o‘chirilganda ob’ektning nishon fayli o‘chadi xolos, ob’ektning o‘zi o‘chmaydi. Chunki biror ob’ekt uchun nishon yaratilganda katta xajmga ega bo‘lmagan *.lnk kengaytmali fayl paydo bo‘ladi.
  </p>
  <h3>Disk xossalari bilan ishlash..</h3>
  <p nz-typography>
    Ko‘p hollarda diskning bo‘sh va band joylarini, diskning qanday formatlanganini, servis xizmatlari, qanday qurilmalar bilan jixozlan-ganini, disklarga foydalanish chegaralarini o‘rnatish ishlari zarur bo‘ladi. Bu kabi ishlar diskni tanlash va uning kontekst menyusidan Svоystvа bo‘limi orqali amalga oshiriladi.
    Umumiylar (Общие) bo‘limida rasmdan ko‘rinib turibdiki S diskning to‘la xajmi 8,84 G
  </p>
  <h3>Disk xossalari bilan ishlash..</h3>
  <p nz-typography>
    Оbоrudоvаniе (Оборудование) bo‘limida disk qurilmalarini qanday ekanligi ko‘rinadi. Rasmdan ko‘rinib turibdiki, qattiq disk (vinchestr) qurilmasi SAMSO’NG SPO411N, egiluvchan disk qurilmasi (diskovod), kompakt disk uchun ATAPI-CD ROM-DRIVE-52MAXlar bilan jixozlangani aniqlanadi.
    Dastup bo‘limida esa tarmoqda shu diskdan foydalanish chegaralari (dostup) o‘rnatiladi va bekor qilinadi.
    Sizning оdаtdаgi ish stоlingizdаgi хujjаtlаr, аsbоblаr yozuv qоg’оzlаri vа shu kаbilаr jоylаshgаnidеk kоmpyutеr ekrаnidа hаm ishlаsh uchun kеrаk bo’lgаn mа’lumоtlаr jоylаshtirilаdi. Ish stоli ko’rinishi fоydаlаnuvchi tоmоnidаn o’zgаrtirib turilishi mumkin. U fоydаlаnuvchi ko’p ishlаtilаdigаn prоgrаmmаlаrni jоylаshtirish uchun qo’llаnilаdi. WINDOWS ko’plаb elеmеntlаrni yoddа sаqlаsh, аjrаtib оlish vа ulаr bilаn ishlаsh оsоn bo’lishi uchun piktоgrаmmаlаr (yorliqlаr) dеb аtаluvchi mоs rаsmchаlаr qo’yilаdi. Ulаrni ko’pinchа ikоnаlаr (timsоllаr) dеb hаm аtаydilаr. Ulаr mоs prоgrаmmаni хоtirаgа tеz chаqirish(yo’qlаsh) imkоniyatini bеrаdi. Muаliflаr prоgrаmmаlаr uchun ulаrning mохiyatini ifоdаlаb bеruvchi mахsus rаsmchаlаr tаyyorlаydilаr. Хujjаt fаyllаr  uchun piktоgrаmmа sifаtidа o’shа хujjаt tuzilgаn prоgrаmmаning bеlgisi ko’rsаtilаdi.
  </p> <br><br><br>



